---
import config from '../config';
import { Image,getImage } from 'astro:assets';
import db from '../database';
import Footer from '../components/footer.astro';
const { cookies, redirect } = Astro;


const icon = await getImage({src: `${config.website.icon}`,height: '50', width: '50', format: 'png'})


const year = new Date().getFullYear().toString()
const yearWithTitle = `${year} ${config.name}`
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content=`${config.website.description} | Powered by KlovitClient.`>
        <meta name="keywords" content=`KlovitClient, Hosting, Klovit, Freemium Minecraft Hosting, ${config.name}, Cloud, Minecraft, Servers, Free Servers, Hostings that use KlovitClient`>
        <meta name="author" content=`Klovit`>
        <meta name="copyright" content=`${config.name}`>
        <meta property="og:type" content=`website`>
        <meta property="og:title" content=`${config.name}`>
        <meta property="og:description" content=`${config.website.description} | Powered by KlovitClient`>
        <meta property="og:image" content=`${config.website.icon}`>
        <meta name="twitter:card" content=`${config.website.icon}`>
        <meta name="twitter:title" content=`${config.name}`>
        <meta name="twitter:description" content=`${config.website.description} | Powered by KlovitClient`>
        <meta name="twitter:image" content=`${config.website.icon}`>
        <meta name="twitter:image:src" content=`${config.website.icon}`>
        <title>{config.name} | 404: NOT FOUND</title>
      
        <script src="https://cdn.tailwindcss.com"></script>
        <link href={config.website.icon} rel="icon">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <script src="https://kit.fontawesome.com/cf4342c927.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
      </head>
      <style> 
        @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&display=swap');
        body { font-family: 'Fredoka', system-ui, sans-serif; }
         body {
            overflow-y: scroll;
            overflow-x: hidden;
         }
         @tailwind base;
       @tailwind components;
       @tailwind utilities;
       :is(.dark main) {
           background-color: #18181b;
       background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%2309090b' fill-opacity='0.44'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
       background-size: 100%;
       }
       main {
           background-color: #ffffff;
       background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%239ca3af' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
       background-size: 100%;
       }
       </style>
      
      
      <body class="flex items-center justify-center h-screen">
          <div class="hidden md:block animation-blob h-screen w-screen">
              <div class="antialiased">
                  <main class="h-full">
                      <div class="h-12 w-full flex">
                          <img class="mt-2" src={config.website.icon} height="30px" width="40px" alt="icon"></img>
                          <div class="mt-2 h-12 w-full flex justify-center">
                          <nav class="inline-flex items-center justify-center rounded-lg w-fit text-sm font-medium text-white">
                              <div class="ml-1 mr-1">
                              <ul class="relative rounded-lg bg-gradient-to-b from-gray-400 to-white dark:from-zinc-950 dark:to-zinc-900 w-fit py-3 flex justify-center">
                                  <li class="hover:shadow-md rounded-2xl">
                                       <a href="/" class="p-2 text-black dark:text-white"><i data-tooltip-target="tooltip-nav-home" class="fa-solid fa-house"></i></a>
                                       <div id="tooltip-nav-home" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-black dark:text-white transition-opacity duration-300 bg-gray-300 rounded-lg shadow-sm opacity-0 tooltip dark:bg-zinc-950">
                                          Home
                                          <div class="tooltip-arrow" data-popper-arrow></div>
                                  </li>
                                  <li class="hover:shadow-md rounded-2xl">
                                      <a href={config.pterodactyl.url} class="p-2 text-black dark:text-white"><i data-tooltip-target="tooltip-nav-panel" class="fa-solid fa-gamepad"></i></a>
                                      <div id="tooltip-nav-panel" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-black dark:text-white transition-opacity duration-300 bg-gray-300 rounded-lg shadow-sm opacity-0 tooltip dark:bg-zinc-950">
                                         Panel
                                         <div class="tooltip-arrow" data-popper-arrow></div>
                                 </li>
                                 <li class="hover:shadow-md rounded-2xl">
                                  <a href="/signin" class="p-2 text-black dark:text-white"><i data-tooltip-target="tooltip-nav-login" class="fa-solid fa-right-to-bracket"></i></a>
                                  <div id="tooltip-nav-login" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-black dark:text-white transition-opacity duration-300 bg-gray-300 rounded-lg shadow-sm opacity-0 tooltip dark:bg-zinc-950">
                                     Login
                                     <div class="tooltip-arrow" data-popper-arrow></div>
                                  </li>
                                  <li class="hover:shadow-md rounded-2xl">
                                      <a href="/register" class="p-2 text-black dark:text-white"><i data-tooltip-target="tooltip-nav-register" class="fa-solid fa-user-plus"></i></a>
                                      <div id="tooltip-nav-register" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-black dark:text-white transition-opacity duration-300 bg-gray-300 rounded-lg shadow-sm opacity-0 tooltip dark:bg-zinc-950">
                                          Register
                                      <div class="tooltip-arrow" data-popper-arrow></div>
                                  </li>
                              </ul>
                          </div>
                         </nav></div>
                         <button aria-label="theme-switcher" id="theme-toggleb" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
                          <svg id="theme-toggle-dark-iconb" class="w-5 h-5 hidden" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                          </svg>
                          <svg id="theme-toggle-light-iconb" class="w-5 h-5 hidden" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path>
                          </svg>
                        </button>
                      </div>
                         <script is:inline>
      
                          // On page load or when changing themes, best to add inline in `head` to avoid FOUC
                          if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                              document.documentElement.classList.add('dark');
                          } else {
                              document.documentElement.classList.remove('dark')
                          }
                          var themeToggleDarkIconb = document.getElementById('theme-toggle-dark-iconb');
                          var themeToggleLightIconb = document.getElementById('theme-toggle-light-iconb');
                        
                          // Change the icons inside the button based on previous settings
                          if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                              themeToggleLightIconb.classList.remove('hidden');
                          } else {
                              themeToggleDarkIconb.classList.remove('hidden');
                          }
                          
                          var themeToggleBtnb = document.getElementById('theme-toggleb');
                          
                          themeToggleBtnb.addEventListener('click', function() {
                          
                            // toggle icons inside button
                            themeToggleDarkIconb.classList.toggle('hidden');
                            themeToggleLightIconb.classList.toggle('hidden');
                          
                            // if set via local storage previously
                            if (localStorage.getItem('color-theme')) {
                                if (localStorage.getItem('color-theme') === 'light') {
                                    document.documentElement.classList.add('dark');
                                    localStorage.setItem('color-theme', 'dark');
                                } else {
                                    document.documentElement.classList.remove('dark');
                                    localStorage.setItem('color-theme', 'light');
                                }
                          
                            // if NOT set via local storage previously
                            } else {
                                if (document.documentElement.classList.contains('dark')) {
                                    document.documentElement.classList.remove('dark');
                                    localStorage.setItem('color-theme', 'light');
                                } else {
                                    document.documentElement.classList.add('dark');
                                    localStorage.setItem('color-theme', 'dark');
                                }
                            }
                            
                          });
                          // It's best to inline this in `head` to avoid FOUC (flash of unstyled content) when changing pages or themes
                          if (
                              localStorage.getItem('color-theme') === 'dark' ||
                              (!('color-theme' in localStorage) &&
                                window.matchMedia('(prefers-color-scheme: dark)').matches)
                            ) {
                              document.documentElement.classList.add('dark');
                            } else {
                              document.documentElement.classList.remove('dark');
                            }
                        </script>
      
      <section class="shadow-lg shadow-gray-500/40 mt-2 min-h-screen flex justify-center">
        <div class="text-center mt-20">
        <h1 class="text-[80px] text-black dark:text-white">
            404: NOT FOUND
        </h1>
        <div class="mt-4 flex justify-center">
            <button href="/dashboard" class="relative rounded-lg text-black dark:text-white bg-gradient-to-b from-gray-400 to-white dark:from-zinc-950 dark:to-zinc-900 px-5 py-1">Go back</button>
        </div>
    </div>
    </section>
      <Footer />
                      </div>
                  </main>
              </div>
          </div>
          <div class="md:hidden w-screen overflow-x-hidden bg-zinc-100 dark:bg-gray-950 animation-blob h-screen w-screen">
      
              <div class="antialiased">
                  <main class="h-full">
                      <div class="h-12 w-full flex">
                          <img class="mt-2" src={config.website.icon} height="30px" width="40px" alt="icon"></img>
                          <div class="mt-2 h-12 w-full flex justify-center">
                          <nav class="inline-flex items-center justify-center rounded-lg w-fit text-sm font-medium text-white">
                              <div class="ml-1 mr-1">
                              <ul class="relative rounded-lg bg-gradient-to-b from-gray-400 to-white dark:from-zinc-950 dark:to-zinc-900 w-fit py-3 flex justify-center">
                                  <li class="hover:shadow-md rounded-2xl">
                                       <a href="/" class="p-2 text-black dark:text-white"><i data-tooltip-target="tooltip-mob-nav-home" class="fa-solid fa-house"></i></a>
                                       <div id="tooltip-mob-nav-home" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-black dark:text-white transition-opacity duration-300 bg-gray-300 rounded-lg shadow-sm opacity-0 tooltip dark:bg-zinc-950">
                                          Home
                                          <div class="tooltip-arrow" data-popper-arrow></div>
                                  </li>
                                  <li class="hover:shadow-md rounded-2xl">
                                      <a href={config.pterodactyl.url} class="p-2 text-black dark:text-white"><i data-tooltip-target="tooltip-mob-nav-panel" class="fa-solid fa-gamepad"></i></a>
                                      <div id="tooltip-mob-nav-panel" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-black dark:text-white transition-opacity duration-300 bg-gray-300 rounded-lg shadow-sm opacity-0 tooltip dark:bg-zinc-950">
                                         Panel
                                         <div class="tooltip-arrow" data-popper-arrow></div>
                                 </li>
                                 <li class="hover:shadow-md rounded-2xl">
                                  <a href="/signin" class="p-2 text-black dark:text-white"><i data-tooltip-target="tooltip-mob-nav-login" class="fa-solid fa-right-to-bracket"></i></a>
                                  <div id="tooltip-mob-nav-login" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-black dark:text-white transition-opacity duration-300 bg-gray-300 rounded-lg shadow-sm opacity-0 tooltip dark:bg-zinc-950">
                                     Login
                                     <div class="tooltip-arrow" data-popper-arrow></div>
                                  </li>
                                  <li class="hover:shadow-md rounded-2xl">
                                      <a href="/register" class="p-2 text-black dark:text-white"><i data-tooltip-target="tooltip-mob-nav-register" class="fa-solid fa-user-plus"></i></a>
                                      <div id="tooltip-mob-nav-register" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-black dark:text-white transition-opacity duration-300 bg-gray-300 rounded-lg shadow-sm opacity-0 tooltip dark:bg-zinc-950">
                                          Register
                                      <div class="tooltip-arrow" data-popper-arrow></div>
                                  </li>
                              </ul>
                          </div>
                         </nav></div>
                         <button aria-label="theme-switcher" id="theme-togglea" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
                          <svg id="theme-toggle-dark-icona" class="w-5 h-5 hidden" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                          </svg>
                          <svg id="theme-toggle-light-icona" class="w-5 h-5 hidden" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path>
                          </svg>
                        </button>
                      </div>
                         <script is:inline>
                          // On page load or when changing themes, best to add inline in `head` to avoid FOUC
                          if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                              document.documentElement.classList.add('dark');
                          } else {
                              document.documentElement.classList.remove('dark')
                          }
                          var themeToggleDarkIcona = document.getElementById('theme-toggle-dark-icona');
                        var themeToggleLightIcona = document.getElementById('theme-toggle-light-icona');
                        
                        // Change the icons inside the button based on previous settings
                        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                            themeToggleLightIcona.classList.remove('hidden');
                        } else {
                            themeToggleDarkIcona.classList.remove('hidden');
                        }
                        
                        var themeToggleBtna = document.getElementById('theme-togglea');
                        
                        themeToggleBtna.addEventListener('click', function() {
                        
                            // toggle icons inside button
                            themeToggleDarkIcona.classList.toggle('hidden');
                            themeToggleLightIcona.classList.toggle('hidden');
                        
                            // if set via local storage previously
                            if (localStorage.getItem('color-theme')) {
                                if (localStorage.getItem('color-theme') === 'light') {
                                    document.documentElement.classList.add('dark');
                                    localStorage.setItem('color-theme', 'dark');
                                } else {
                                    document.documentElement.classList.remove('dark');
                                    localStorage.setItem('color-theme', 'light');
                                }
                        
                            // if NOT set via local storage previously
                            } else {
                                if (document.documentElement.classList.contains('dark')) {
                                    document.documentElement.classList.remove('dark');
                                    localStorage.setItem('color-theme', 'light');
                                } else {
                                    document.documentElement.classList.add('dark');
                                    localStorage.setItem('color-theme', 'dark');
                                }
                            }
                            
                        });
                         </script>
                         <script is:inline>
                            // It's best to inline this in `head` to avoid FOUC (flash of unstyled content) when changing pages or themes
                            if (
                              localStorage.getItem('color-theme') === 'dark' ||
                              (!('color-theme' in localStorage) &&
                                window.matchMedia('(prefers-color-scheme: dark)').matches)
                            ) {
                              document.documentElement.classList.add('dark');
                            } else {
                              document.documentElement.classList.remove('dark');
                            }
                          </script>
                   <section class="shadow-lg shadow-gray-500/40 mt-2 min-h-screen flex justify-center">
                    <div class="text-center mt-20">
                    <h1 class="text-[60px] text-black dark:text-white">
                        {config.name}
                    </h1>
                    <h2 class="text-[30px] dark:text-white text-black">
                        {config.website.description}
                    </h2>
                    <div class="mt-4 flex justify-center">
                        <button href="/dashboard" class="relative rounded-lg text-black dark:text-white bg-gradient-to-b from-gray-400 to-white dark:from-zinc-950 dark:to-zinc-900 px-5 py-1">Go back</button>
                    </div>
                </div>
                </section>
                          <Footer />
                      </div>
                  </main>
              </div>
          </div>
      </body>
      
      </html>