---
import chalk from 'chalk';
import config from '../config';
import { supabase } from "../lib/supabase";
import db from '../database';
import Adminnav from "../components/adminnav.astro";
import Adminmobnav from "../components/adminmobnav.astro";
import restype from "../restype"
import Header from "../components/head.astro"

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");
if (!accessToken || !refreshToken) {
  return redirect("/signin");
}
const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});
if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/signin");
}
const resconf = restype.restype
const errorstate = Astro.url.searchParams.get('error')! || '';
const errormsg = Astro.url.searchParams.get('error')! || '';
const success = Astro.url.searchParams.get('success')! || '';
const newpass = Astro.url.searchParams.get('password')! || ''
let newpassword;
if (Astro.url.searchParams.get("password")){ newpassword = "Password is " + newpass };

const {
  data: { user },
} = await supabase.auth.getUser()
const metadata = user.user_metadata
const username = metadata.full_name
const email = data?.user?.email
const avatar = metadata.avatar_url

let accountlistjson = await fetch(
    config.pterodactyl.url + "/api/application/users?include=servers&filter[email]=" + encodeURIComponent(email),
    {
        method: "get",
        headers: {
            'Content-Type': 'application/json',
            "Authorization": `Bearer ${config.pterodactyl.api}`
        }
    });
              let accountlist = await accountlistjson.json();
              let userdata = accountlist.data.filter(acc => acc.attributes.email == email);

let cacheaccount = await fetch(config.pterodactyl.url + "/api/application/users/" + userdata[0].attributes.id + "?include=servers",
 {
  method: "get",
  headers: { 'Content-Type': 'application/json', "Authorization": `Bearer ${config.pterodactyl.api}` }
 });
if (await cacheaccount.statusText == "Not Found") {
  if (error) {
    console.log(chalk.red(`[KlovitClient] An error has occured on path ${Astro.url.pathname}:`));
  };};
let cacheaccountinfo = JSON.parse(await cacheaccount.text());
    
const pterodactyl = cacheaccountinfo.attributes;
const adminstatus = pterodactyl.root_admin
const servers = pterodactyl.relationships.servers.data[0]

// RESOURCES
const extraresources = await db.get("extraresources-" + email)
const pkglist = config.packages.list.pkg
const pkg = await db.get(`package-${email}`)
// Package Limits
const pkgram = config.packages.list[await db.get("package-" + email)].ram
const pkgdisk = config.packages.list[await db.get("package-" + email)].disk
const pkgserverslimit = config.packages.list[await db.get("package-" + email)].servers
// Actual Limits
let ccore;
ccore = config.packages.list[await db.get("package-" + email)].cpu + extraresources.cpu
ccore += config.resource_type === 'MB' ? '%' : ' Core(s)'
const ramlimit = pkgram + extraresources.ram
const disklimit = pkgdisk + extraresources.disk
const serverslimit = pkgserverslimit + extraresources.servers
// Used resources
let serversused = pterodactyl.relationships.servers.data.length;
let ramused = 0;
let diskused = 0;
let cpuused = 0;
if (config.resource_type ==="GB") {
for (let i = 0, len = pterodactyl.relationships.servers.data.length; i < len; i++) {
    ramused = ramused + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.memory == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.memory : 0)/1024;
    diskused = diskused + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.disk == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.disk : 0)/1024;
    cpuused = cpuused + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.cpu == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.cpu : 0)/100;
}
} else {
    for (let i = 0, len = pterodactyl.relationships.servers.data.length; i < len; i++) {
    ramused = ramused + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.memory == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.memory : 0);
    diskused = diskused + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.disk == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.disk : 0);
    cpuused = cpuused + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.cpu == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.cpu : 0);
}
}
if (adminstatus === false) {
 Astro.redirect("/dashboard?error=FORBIDDEN")
}
const vercdnraw = await fetch("https://docs.klovit.tech/version.json")
const vercdn = await vercdnraw.json()
const currentver = config.version
const latestver = vercdn.version
let outdated;
if (currentver < latestver) {
    outdated = true
}
if (currentver === latestver) {
        outdated = false
}
---
<!DOCTYPE html>
<html>
    <Header />
    <style> 
      @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&display=swap');
      body { font-family: 'Fredoka', system-ui, sans-serif; }
       body {
          overflow-y: scroll;
          overflow-x: hidden;
       }
       @tailwind base;
     @tailwind components;
     @tailwind utilities;
     :is(.dark main) {
         background-color: #18181b;
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%2309090b' fill-opacity='0.44'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
     background-size: 100%;
     }
     main {
         background-color: #ffffff;
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%239ca3af' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
     background-size: 100%;
     }
     </style> 
<body class="flex items-center justify-center h-screen">
    <div class="hidden md:block animation-blob h-screen w-screen">
        <div class="antialiased">
            <main class="h-screen">
                    <Adminnav />
                    {errorstate && <div style="border-radius: 15px; color: white; height: 50px; text-align: center; font-size: large;" style="border-radius: 15px;" class="rounded-xl mb-2 bg-red-700 alert mr-3 ml-3 mt-1">ERROR: {errormsg}</div>}
                    {success && <div style="border-radius: 15px; color: white; height: 50px; text-align: center; font-size: large;" style="border-radius: 15px;" class="rounded-xl mb-1 bg-green-700 alert mr-3 ml-3 mt-1">Success: {success}</div>}
                  <br><br>
<section>
  <h1 class="dark:text-white text-black text-[15px] lg:text-2xl">Admin | Home</h1>
    <div class="rounded-xl bg-zinc-100 dark:bg-zinc-950 px-2.5 py-2">
        <div class="row"><img class="h-32 w-full object-cover lg:h-48 rounded-xl" src="https://wallpaperaccess.com/full/4650672.jpg" alt=""></div>
                      <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
                        <div class="-mt-12 sm:-mt-16 sm:flex sm:items-end sm:space-x-5">
                          <div class="flex">
                            <img class="h-24 w-24 rounded-full ring-2 ring-zinc-700 sm:h-32 sm:w-32" src={avatar} alt="useravatar">
                          </div>
                          <div class="mt-6 sm:flex sm:min-w-0 sm:flex-1 sm:items-center sm:justify-end sm:space-x-6 sm:pb-1">
                            <div class="mt-6 min-w-0 flex-1 sm:hidden md:block">
                              <h1 class="text-black truncate text-2xl font-bold dark:text-white">{username}</h1>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><br>
                    <div class="rounded-xl h-fit bg-zinc-300 dark:bg-zinc-950 px-2.5 py-2">
                        <h1 class="text-black dark:text-white text-xl">KlovitClient's Information</h1>
                        <div class="grid grid-cols-1 lg:grid-cols-2 col-span-4">
                        <div class="w-fit h-fit rounded-xl">
                            <h1 class="text-black dark:text-white">Version</h1>
                            {outdated ?
                                       <div class="m-2 w-full rounded-lg bg-gradient-to-b from-gray-400 text-red-400 to-white dark:from-zinc-950 dark:to-zinc-900">
                                        <h1>Latest version - V{latestver}</h1>
                                      </div><br>
                                      <div class="m-2 w-full rounded-lg bg-gradient-to-b from-gray-400 text-red-400 to-white dark:from-zinc-950 dark:to-zinc-900">
                                        <h1>Your KlovitClient instance is outdated. Please update to the latest version ( V{latestver} )</h1>
                                      </div> :
                                      <div class="m-2 w-full rounded-lg text-black dark:text-white bg-gradient-to-b from-gray-400 to-white dark:from-zinc-950 dark:to-zinc-900">
                                        <h1>Latest version - V{latestver}</h1>
                                      </div><br>
                                      <div class="m-2 w-full rounded-lg text-black dark:text-white bg-gradient-to-b from-gray-400 to-white dark:from-zinc-950 dark:to-zinc-900">
                                        <h1>Your KlovitClient instance is up-to-date.</h1>
                                      </div> }
                                    </div>
                                    <div class="w-fit h-fit rounded-xl">
                            <h1 class="dark:text-white text-black">Social</h1> 
                                      <div class="m-2 w-full rounded-lg text-black dark:text-white bg-gradient-to-b from-gray-400 to-white dark:from-zinc-950 dark:to-zinc-900">
                                        <a href="https://github.com/klovit/klovitclient"><i class="fa-brands fa-github"> GitHub</i></a>
                                      </div><br>
                                      <div class="m-2 w-full rounded-lg text-black dark:text-white bg-gradient-to-b from-gray-400 to-white dark:from-zinc-950 dark:to-zinc-900">
                                        <a href="https://discord.gg/JJzHzQkFpr"><i class="fa-brands fa-discord"> Discord</i></a>
                                        </div>
                                        </div>
                                    </div>
                                </div>
</section>
            </main>
        </div>
    </div>
    <div class="md:hidden w-screen overflow-x-hidden animation-blob h-screen w-screen">
        <div class="antialiased">
              <main>
                    
<Adminmobnav />
                    {errorstate && <div style="border-radius: 15px; color: white; height: 50px; text-align: center; font-size: large;" style="border-radius: 15px;" class="rounded-xl mb-2 bg-red-700 alert mr-3 ml-3 mt-1">ERROR: {errormsg}</div>}
                    {success && <div style="border-radius: 15px; color: white; height: 50px; text-align: center; font-size: large;" style="border-radius: 15px;" class="rounded-xl mb-1 bg-green-700 alert mr-3 ml-3 mt-1">Success: {success}</div>}
<br><br>
<section>
  <h1 class="text-black dark:text-white text-[15px] lg:text-2xl">Admin | Home</h1>
                    <div class="rounded-xl px-2.5 py-2">
                        <div class="row"><img class="h-32 w-full object-cover lg:h-48 rounded-xl" src="https://wallpaperaccess.com/full/4650672.jpg" alt=""></div>
                                      <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
                                        <div class="-mt-12 sm:-mt-16 sm:flex sm:items-end sm:space-x-5">
                                          <div class="flex">
                                            <img class="h-24 w-24 rounded-full ring-2 ring-zinc-700 sm:h-32 sm:w-32" src={avatar} alt="useravatar">
                                          </div>
                                          <div class="mt-6 sm:flex sm:min-w-0 sm:flex-1 sm:items-center sm:justify-end sm:space-x-6 sm:pb-1">
                                            <div class="mt-6 min-w-0 flex-1 sm:hidden md:block">
                                              <h1 class="truncate text-2xl font-bold text-black dark:text-white">{username}</h1>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div><br>
                                    <div class="rounded-xl h-fit bg-zinc-300 dark:bg-zinc-950 px-2.5 py-2">
                                        <h1 class="text-black dark:text-white text-xl">KlovitClient's Information</h1>
                                        <div class="grid grid-cols-1 lg:grid-cols-2 col-span-4">
                                        <div class="w-fit h-fit rounded-xl">
                                            <h1 class="text-black dark:text-white">Version</h1>
                                            {outdated ?
                                       <div class="m-2 w-full rounded-lg bg-gradient-to-b from-gray-400 text-red-400 to-white dark:from-zinc-950 dark:to-zinc-900">
                                        <h1>Latest version - V{latestver}</h1>
                                      </div><br>
                                      <div class="m-2 w-full rounded-lg bg-gradient-to-b from-gray-400 text-red-400 to-white dark:from-zinc-950 dark:to-zinc-900">
                                        <h1>Your KlovitClient instance is outdated. Please update to the latest version ( V{latestver} )</h1>
                                      </div> :
                                      <div class="m-2 w-full rounded-lg text-black dark:text-white bg-gradient-to-b from-gray-400 to-white dark:from-zinc-950 dark:to-zinc-900">
                                        <h1>Latest version - V{latestver}</h1>
                                      </div><br>
                                      <div class="m-2 w-full rounded-lg text-black dark:text-white bg-gradient-to-b from-gray-400 to-white dark:from-zinc-950 dark:to-zinc-900">
                                        <h1>Your KlovitClient instance is up-to-date.</h1>
                                      </div> }
                                                    </div>
                                                    <div class="w-fit h-fit rounded-xl">
                            <h1 class="dark:text-white text-black">Social</h1> 
                                      <div class="m-2 w-full rounded-lg text-black dark:text-white bg-gradient-to-b from-gray-400 to-white dark:from-zinc-950 dark:to-zinc-900">
                                        <a href="https://github.com/klovit/klovitclient"><i class="fa-brands fa-github"> GitHub</i></a>
                                      </div><br>
                                      <div class="m-2 w-full rounded-lg text-black dark:text-white bg-gradient-to-b from-gray-400 to-white dark:from-zinc-950 dark:to-zinc-900">
                                        <a href="https://discord.gg/JJzHzQkFpr"><i class="fa-brands fa-discord"> Discord</i></a>
                                        </div>
                                        </div>
                                                    </div>
                                                </div>
</section>
                </div>
            </main>
        </div>
    </div>
</body>

</html>