---
import config from '../config';
import { supabase } from "../lib/supabase";
const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");
if (!accessToken || !refreshToken) {
  return redirect("/signin");
}
const refresh_token = refreshToken.value
const access_token = accessToken.value
const { data, error } = await supabase.auth.setSession({
  refresh_token: refresh_token,
  access_token: access_token,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/signin");
}


const errorstate = Astro.url.searchParams.get('error')! || '';
const errormsg = Astro.url.searchParams.get('error')! || '';
const success = Astro.url.searchParams.get('success')! || '';
const successmsg = Astro.url.searchParams.get('success')! || '';

const {
  data: { user },
} = await supabase.auth.getUser()

const metadata = user.user_metadata
const username = metadata.full_name
const email = data?.user?.email
const avatar = metadata.avatar_url

let accountlistjson = await fetch(
    config.pterodactyl.url + "/api/application/users?include=servers&filter[email]=" + encodeURIComponent(email),
    {
        method: "get",
        headers: {
            'Content-Type': 'application/json',
            "Authorization": `Bearer ${config.pterodactyl.api}`
        }
    }
);
              let accountlist = await accountlistjson.json();
              let userdata = accountlist.data.filter(acc => acc.attributes.email == email);
let cacheaccount = await fetch(
config.pterodactyl.url + "/api/application/users/" + userdata[0].attributes.id + "?include=servers",
 {
    method: "get",
    headers: { 'Content-Type': 'application/json', "Authorization": `Bearer ${config.pterodactyl.api}` }
  }
);
let cacheaccountinfo = JSON.parse(await cacheaccount.text());
    
const pterodactyl = cacheaccountinfo.attributes;
const adminstatus = pterodactyl.root_admin
const servers = pterodactyl.relationships.servers.data[0]

const year = new Date().getFullYear().toString()
const yearWithTitle = `${year} ${config.name}`


let srvs = pterodactyl.relationships.servers.data

let serverram;
let serverdisk;
let servercpu;
if (config.resource_type === "GB"){
    serverram = "%serverram% GB(s)"
    serverdisk = "%serverdisk% GB(s)"
    servercpu = "%servercpu% Core(s)"
} else {
    serverram = "%serverram% MB(s)"
    serverdisk = "%serverdisk% MB(s)"
    servercpu = "%servercpu%%"
    }
    // Used resources
let ramused = 0;
let diskused = 0;
let cpuused = 0;
    if (config.resource_type ==="GB") {
for (let i = 0, len = pterodactyl.relationships.servers.data.length; i < len; i++) {
    ramused = ramused + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.memory == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.memory : 0)/1024;
    diskused = diskused + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.disk == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.disk : 0)/1024;
    cpuused = cpuused + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.cpu == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.cpu : 0)/100;
}
} else {
    for (let i = 0, len = pterodactyl.relationships.servers.data.length; i < len; i++) {
    ramused = ramused + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.memory == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.memory : 0);
    diskused = diskused + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.disk == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.disk : 0);
    cpuused = cpuused + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.cpu == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.cpu : 0);
}
}
---
<div class="hidden md:block grid grid-cols-4">
{servers ?
    srvs.map((serverData, i) => <div class="mt-1 mb-1 text-black dark:text-white bg-zinc-300 dark:shadow dark:bg-zinc-900/50 backdrop-blur-xl border border-zinc-800/80 h-40 w-100 shrink-0 rounded-lg" role="group" aria-label=`${i} + 1 / {pterodactyl.relationships.servers.data.length}` style="margin-right: 16px;">
      <div class="absolute flex justify-between rounded-lg border border-white/10 p-5">
        <div class="flex items-center items-right justify-between">
          Server Name: {serverData.attributes.name.length > 40 ? serverData.attributes.name.slice(0, 40) + "..." : serverData.attributes.name}<br>
          RAM: {serverram.includes("GB") ? serverram.replace("%serverram%", serverData.attributes.limits.memory/1024) : serverram.replace("%serverram%", serverData.attributes.limits.memory)}<br>
          Disk: {serverdisk.includes("GB") ? serverdisk.replace("%serverdisk%", serverData.attributes.limits.disk/1024) : serverdisk.replace("%serverdisk%", serverData.attributes.limits.disk)}<br>
          CPU: {servercpu.includes("Core") ? servercpu.replace("%servercpu%", serverData.attributes.limits.cpu/100) : servercpu.replace("%servercpu%", serverData.attributes.limits.cpu)}<br>
        </div>
        <div class="dark:text-white">
          Actions <button class="border border-black dark:border-white rounded-xl text-xs" onclick=`window.location.href = '/delete?id=' + ${serverData.attributes.id}`><span class="p-1">Delete Server</span></button> | <button class=" border border-black dark:border-white rounded-xl btn btn-danger btn-lg text-xs" onclick=`window.location.href = '/edit?id=' + ${serverData.attributes.id}`><span class="p-1">Edit Server</span></button>
        </div>

      </div>
    </div>)
            
     : <div class="grid grid-cols-1">
      <div>
        <p class="text-black dark:text-white"> You don't have a server yet, create one here.</p><br>
        </div>
      <div>
       <button onclick="location.href='/create'" class="relative rounded-lg text-black dark:text-white bg-gradient-to-b from-gray-400 to-white dark:from-zinc-950 dark:to-zinc-900 px-5 py-1">Create</button>
</div>
</div>    }
</div>

<div class="md:hidden w-fit h-fit">
{servers ?
    srvs.map((serverData, i) => <div class="mt-1 mb-1 text-xs dark:text-white bg-zinc-300 dark:shadow dark:bg-zinc-900/50 backdrop-blur-xl border border-zinc-800/80 h-max w-max rounded-lg bg-cover" role="group" aria-label=`i + 1 / {pterodactyl.relationships.servers.data.length}` style="margin-right: 16px;">
      <div class="flex flex-col justify-between rounded-lg border border-white/10 p-5">
        <div class="flex items-right">
          Server Name: {serverData.attributes.name.length > 40 ? serverData.attributes.name.slice(0, 40) + "..." : serverData.attributes.name}<br>
          RAM: {serverram.includes("GB") ? serverram.replace("%serverram%", serverData.attributes.limits.memory/1024) : serverram.replace("%serverram%", serverData.attributes.limits.memory)}<br>
          Disk: {serverdisk.includes("GB") ? serverdisk.replace("%serverdisk%", serverData.attributes.limits.disk/1024) : serverdisk.replace("%serverdisk%", serverData.attributes.limits.disk)}<br>
          CPU: {servercpu.includes("Core") ? servercpu.replace("%servercpu%", serverData.attributes.limits.cpu/100) : servercpu.replace("%servercpu%", serverData.attributes.limits.cpu)}<br>
        </div>
        <div class="dark:text-white">
            Actions <button class="border border-black dark:border-white rounded-xl text-xs" onclick=`window.location.href = /delete?id={serverData.attributes.id}`><span class="p-1">Delete Server</span></button> | <button class=" border border-black dark:border-white rounded-xl btn btn-danger btn-lg text-xs" onclick=`/edit?id={i}`><span class="p-1">Edit Server</span></button>
        </div>

      </div>
    </div>)
     : <div class="grid grid-cols-1">
      <div>
        <p class="text-black dark:text-white"> You don't have a server yet, create one here.</p><br>
        </div>
      <div>
       <button onclick="location.href='/create'" class="relative rounded-lg text-black dark:text-white bg-gradient-to-b from-gray-400 to-white dark:from-zinc-950 dark:to-zinc-900 px-5 py-1">Create</button>
</div>
</div>    }
</div>
<style> 
    @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&display=swap');
    body { font-family: 'Fredoka', system-ui, sans-serif; }
     body {
        overflow-y: scroll;
        overflow-x: hidden;
     }
     @tailwind base;
@tailwind components;
@tailwind utilities;
   </style>