<!DOCTYPE html>
<html lang="en" class="dark" style="--vh: 6.53px;">

<%- include('./components/head') %>

<body x-data="" class="is-header-blur dark x-bind=" $store.global.documentBody">
  <!-- Page Wrapper -->
  <div id="root" class="min-h-100vh flex grow bg-zinc-900">
      <!-- Sidebar -->
      <%- include('./components/adminsidebar') %>


<style>
#container {
  display: flex;                  /* establish flex container */
  flex-direction: column;            /* default value; can be omitted */
  flex-wrap: wrap;              /* default value; can be omitted */
  justify-content: space-between;
}
#container > div > {
  width: 300px;
  height: 200px;
}</style>

    <!-- Main Content Wrapper -->
    <main class="main-content w-full pb-8">
       
      <div id="container" class="mt-4 px-[var(--margin-x)] grid grid-cols-1 lg:grid-cols-4 gap-4">
        <h1 style="font-size: 50px; color: white;"><%= settings.name %> | Admin</h1>
        <div style="border: thin solid #474343;" class="flex flex-col bg-zinc-800 rounded-xl w-full">
          <div class="row">
            <div class="col-md-12 grid-marginflex flex-col bg-zinc-800 rounded-xl w-full ">
              <div class="card flex flex-col bg-zinc-800 rounded-xl w-full">
                <div class="card-body flex flex-col bg-zinc-800 rounded-xl w-full">
                  <h4 style="font-size: 30px; color: white;" class="card-title"> &nbsp; KlovitClient Version</h4>
                  <br></br>
                  <form class="forms-sample">
                    <div class="form-group">
                    <p id="latestversion"><span style="color: white; font-size: 20px;"> &nbsp; Fetching...</span></p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div style="border: thin solid #474343;" class="flex flex-col bg-zinc-800 rounded-xl w-full">
          <div class="row">
            <div class="col-md-12 grid-marginflex flex-col bg-zinc-800 rounded-xl w-full ">
              <div class="card flex flex-col bg-zinc-800 rounded-xl w-full">
                <div class="card-body flex flex-col bg-zinc-800 rounded-xl w-full">
                  <div class="card-body flex flex-col bg-zinc-800 rounded-xl w-full">
                    <h4 style="font-size: 30px; color: white;" class="card-title"> &nbsp; KlovitClient Information</h4>
                    <br></br>
                    <form class="forms-sample">
                      <div class="form-group">
                        <a href="https://github.com/Klovit/KlovitClient/" style="border: thin solid #474343;" class="btn btn-primary btn-lg">View latest version</a> <a href="https://discord.gg/zexade" style="border: thin solid #474343;" class="btn btn-primary btn-lg">Get support</a>
                    </form>
                  </div>
                 </div>
                </div>
              </div>                  
            </div>
          </div>
        </div>
      </main>
  </div>
  <div id="x-teleport-target"></div>

    <script>
    fetch("https://zexade.com/kcv.txt")
             .then(res => Promise.resolve(res.json()).then(ver => {
                 let currentver = "<%= settings.version.replace(/"/g, `\\\\"`) %>";
                 if (ver.version == currentver) {
                     document.getElementById("latestversion").innerHTML = `<span style="color: white; font-size: 20px;"> &nbsp; You are running KlovitClient version <code style="color: #007fcc" >v${currentver}</code>. KlovitClient is up-to-date!</span>`;
                 } else if (ver.prerelease == currentver) {
                     document.getElementById("latestversion").innerHTML = `<span style="color: white; font-size: 20px;"> &nbsp; You are running KlovitClient version <code style="color: #007fcc">v${currentver}</code>. KlovitClient is up-to-date!</span>`;
                 } else {
                     document.getElementById("latestversion").innerHTML = `<span style="color: white; font-size: 20px;"> &nbsp; KlovitClient is <b>not up-to-date!</b> The latest version is <code style="color: #007fcc" >v${ver.version}</code> and you are currently running version <code style="color: #007fcc" >v<%= settings.version %></code>.</span>`;
                 };
             }));
     </script>
        <script>
    window.addEventListener("DOMContentLoaded", () => Alpine.start());
  </script>      <%- include('./components/footer') %>






</body>

</html>