<!DOCTYPE html>
<html lang="en" class="dark" style="--vh: 6.53px;">

<%- include('./components/head') %>

<body x-data="" class="is-header-blur dark x-bind=" $store.global.documentBody">
  <!-- Page Wrapper -->
  <div id="root" class="min-h-100vh flex grow bg-zinc-900">
      <!-- Sidebar -->
      <%- include('./components/adminsidebar') %>
<style>
#container {
  display: flex;                  /* establish flex container */
  flex-direction: column;            /* default value; can be omitted */
  flex-wrap: wrap;              /* default value; can be omitted */
  justify-content: space-between;
}
#container > div > {
  width: 300px;
  height: 200px;
}</style>

    <!-- Main Content Wrapper -->
    <main class="main-content w-full pb-8">
      <% if (req.query.err) { %>
        <% if (req.query.err !== "none") { %>
          <div style="border-radius: 15px; background-color: red; color: white; height: 50px; text-align: center; font-size: large;" style="border-radius: 15px;" class="alert">
            <% if (req.query.err == "MISSINGID") { %>
                You have not provided the Discord user ID.
      <% } else if (req.query.err == "CREATECOUPONINVALIDCHARACTERS") { %>
    One of the characters you entered in coupon creation was invalid, please try again.
      <% } else if (req.query.err == "REVOKECOUPONCANNOTFINDCODE") { %>
    One of the characters you entered in coupon revoke was invalid, please try again.
      <% } else if (req.query.err == "CREATECOUPONEMPTY") { %>
    While creating your coupon you did not specify to give any resources or coins.
      <% } else if (req.query.err == "CREATECOUPONLESSTHANONE") { %>
    While creating your coupon you tried to give less then one in RAM, DISK, CPU and/or coins.
            <% } else if (req.query.err == "INVALIDID") { %>
                You have provided a Discord user ID that does not exist, or has not signed up on the dashboard.
            <% } else if (req.query.err == "NOIP") { %>
              IP NOT FOUND.
          <% } else if (req.query.err == "MISSINGVARIABLES") { %>
                You have not provided either ram, disk, cpu, and/or servers.
            <% } else if (req.query.err == "RAMSIZE" || req.query.err == "DISKSIZE" || req.query.err == "CPUSIZE" || req.query.err == "SERVERSIZE") { %>
                The RAM, disk, CPU and servers number cannot be less than 0 and must be above 999999999999999.
            <% } else { %>
                Stop admin abusing.
            <% } %>
          </div>
        <% } else if (req.query.err == "none") { %>
          <div class="alert" style="background-color: #007fcc; border-radius: 15px;">
            Success! Action completed
          </div>
        <% } %> 
      <% } %>
      <% if (req.query.err == "IPFOUND") { %>
        <div class="alert" style="background-color: #007fcc; border-radius: 15px;">
          Success! IP Found - <%= req.query.ip %>
        </div>
      <% } %>
      <% if (req.query.code) { %>
    <div class="alert" style="background-color: #007fcc; border-radius: 15px;">
    Success! You have created a coupon code with the name of: <%= req.query.code %>
    </div>
      <% } %>      <% if (req.query.err) { %>
        <% if (req.query.err !== "none") { %>
          <div style="border-radius: 15px; background-color: red; color: white; height: 50px; text-align: center; font-size: large;" style="border-radius: 15px;" class="alert">
            <% if (req.query.err == "MISSINGID") { %>
                You have not provided the Discord user ID.
      <% } else if (req.query.err == "CREATECOUPONINVALIDCHARACTERS") { %>
    One of the characters you entered in coupon creation was invalid, please try again.
      <% } else if (req.query.err == "REVOKECOUPONCANNOTFINDCODE") { %>
    One of the characters you entered in coupon revoke was invalid, please try again.
      <% } else if (req.query.err == "CREATECOUPONEMPTY") { %>
    While creating your coupon you did not specify to give any resources or coins.
      <% } else if (req.query.err == "CREATECOUPONLESSTHANONE") { %>
    While creating your coupon you tried to give less then one in RAM, DISK, CPU and/or coins.
            <% } else if (req.query.err == "INVALIDID") { %>
                You have provided a Discord user ID that does not exist, or has not signed up on the dashboard.
            <% } else if (req.query.err == "NOIP") { %>
              IP NOT FOUND.
          <% } else if (req.query.err == "MISSINGVARIABLES") { %>
                You have not provided either ram, disk, cpu, and/or servers.
            <% } else if (req.query.err == "RAMSIZE" || req.query.err == "DISKSIZE" || req.query.err == "CPUSIZE" || req.query.err == "SERVERSIZE") { %>
                The RAM, disk, CPU and servers number cannot be less than 0 and must be above 999999999999999.
            <% } else { %>
                Stop admin abusing.
            <% } %>
          </div>
        <% } else if (req.query.err == "none") { %>
          <div class="alert" style="background-color: #007fcc; border-radius: 15px;">
            Success! Action completed
          </div>
        <% } %> 
      <% } %>
      <% if (req.query.err == "IPFOUND") { %>
        <div class="alert" style="background-color: #007fcc; border-radius: 15px;">
          Success! IP Found - <%= req.query.ip %>
        </div>
      <% } %>
      <% if (req.query.code) { %>
    <div class="alert" style="background-color: #007fcc; border-radius: 15px;">
    Success! You have created a coupon code with the name of: <%= req.query.code %>
    </div>
      <% } %>
      <div id="container" class="mt-4 px-[var(--margin-x)] grid grid-cols-1 lg:grid-cols-4 gap-4">
        <h2 style="font-size: 50px; color: white;">Resources</h2>
        <p class="text-gray">Change the resources of users.</p>
         <div class="row">
           <div class="col-md-6 grid-margin stretch-card">
             <div class="card">
               <div class="flex flex-col bg-zinc-800 rounded-xl w-full card-body">
                 <h4 style="font-size: 30px; color: white;" class="card-title">&nbsp;Set user's resources</h4>
                 <form class="forms-sample">
                   <div class="form-group">
                    &nbsp;&nbsp;&nbsp;&nbsp;<label for="IDSet">Discord ID:</label> 
                     <input style="border-radius: 15px; padding: 8px;" type="number" class="rounded-xl bg-zinc-800/40 px-2.5 py-2 form-control" placeholder="Enter user ID" id="IDSet">
                   </div>
                   <br>
                   <div class="form-group">
                    &nbsp;&nbsp;&nbsp;&nbsp;<label for="SetCPU">CPU (Cores):</label> &nbsp;
                     <input style="border-radius: 15px; padding: 8px;" type="number" class="rounded-xl bg-zinc-800/40 px-2.5 py-2 form-control" placeholder="1" id="SetCPU">
                   </div>
                   <br>
                   <div class="form-group">
                    &nbsp;&nbsp;&nbsp;&nbsp;<label for="SetRAM">RAM (GBs):</label> &nbsp;
                     <input style="border-radius: 15px; padding: 8px;" type="number" class="rounded-xl bg-zinc-800/40 px-2.5 py-2 form-control" placeholder="2" id="SetRAM">
                   </div>
                   <br>
                   <div class="form-group">
                    &nbsp;&nbsp;&nbsp;&nbsp;<label for="SetDisk">Disk (GBs):</label> &nbsp;
                     <input style="border-radius: 15px; padding: 8px;" type="number" class="rounded-xl bg-zinc-800/40 px-2.5 py-2 form-control" placeholder="10" id="SetDisk">
                   </div>
                   <br>
                   <div class="form-group">
                    &nbsp;&nbsp;&nbsp;&nbsp;<label for="SetServers">Servers:</label> &nbsp;
                     <input style="border-radius: 15px; padding: 8px;" type="number" class="rounded-xl bg-zinc-800/40 px-2.5 py-2 form-control" placeholder="1" id="SetServers">
                   </div>
                   <br></br>
                   &nbsp;<a role="button" class="rounded-xl bg-zinc-900 px-2.5 py-2 btn btn-primary btn-lg" href="javascript: submitSet()">Apply Changes</a>
                 </form>
                 <br>
               </div>
             </div>
           </div>
          </div>

           <div class="col-md-6 grid-margin stretch-card">
             <div class="card flex flex-col bg-zinc-800 rounded-xl w-full">
               <div class="card-body flex flex-col bg-zinc-800 rounded-xl w-full">
                 <h4 style="font-size: 30px; color: white;" class="card-title">&nbsp;Add user's resources</h4>
                 <div class="row">
                  <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="flex flex-col bg-zinc-800 rounded-xl w-full card-body">
                 <form class="forms-sample">
                   <div class="form-group">
                    &nbsp;&nbsp;&nbsp;&nbsp;<label for="IDSet">Discord ID:</label> &nbsp;
                     <input style="border-radius: 15px; padding: 8px;" type="number" class="rounded-xl bg-zinc-800/40 px-2.5 py-2 form-control" placeholder="Enter user ID" id="IDAdd">
                   </div>
                   <br>
                   <div class="form-group">
                    &nbsp;&nbsp;&nbsp;&nbsp;<label for="SetCPU">CPU (Cores):</label> &nbsp;
                     <input style="border-radius: 15px; padding: 8px;" type="number" class="rounded-xl bg-zinc-800/40 px-2.5 py-2 form-control" placeholder="1" id="AddCPU">
                   </div>
                   <br>
                   <div class="form-group">
                    &nbsp;&nbsp;&nbsp;&nbsp;<label for="SetRAM">RAM (GBs):</label> &nbsp;
                     <input style="border-radius: 15px; padding: 8px;" type="number" class="rounded-xl bg-zinc-800/40 px-2.5 py-2 form-control" placeholder="2" id="AddRAM">
                   </div>
                   <br>
                   <div class="form-group">
                    &nbsp;&nbsp;&nbsp;&nbsp;<label for="SetDisk">Disk (GBs):</label> &nbsp;
                     <input style="border-radius: 15px; padding: 8px;" type="number" class="rounded-xl bg-zinc-800/40 px-2.5 py-2 form-control" placeholder="10" id="AddDisk">
                   </div>
                   <br>
                   <div class="form-group">
                    &nbsp;&nbsp;&nbsp;&nbsp;<label for="SetServers">Servers:</label> &nbsp;
                     <input style="border-radius: 15px; padding: 8px;" type="number" class="rounded-xl bg-zinc-800/40 px-2.5 py-2 form-control" placeholder="1" id="AddServers">
                   </div>
                   &nbsp;<a role="button" class="rounded-xl bg-zinc-900 px-2.5 py-2 btn btn-primary btn-lg" href="javascript: submitAdd()">Apply Changes</a>
                 </form>
                 <br>
               </div>
             </div>
           </div>
        </div>
      </div>
    </div>
 </div>
      </main>
  </div>
  <div id="x-teleport-target"></div>
  <%- include('./components/footer') %>
  <script>
    window.addEventListener("DOMContentLoaded", () => Alpine.start());
  </script>
    <script src="/assets/vendors/select2/select2.min.js"></script>
    <script src="/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script>
        async function submitSet() {
            let id = encodeURIComponent(document.getElementById("IDSet").value);
            let cpu = encodeURIComponent(document.getElementById("SetCPU").value * 100);
            let ram = encodeURIComponent(document.getElementById("SetRAM").value * 1024);
            let disk = encodeURIComponent(document.getElementById("SetDisk").value * 1024);
            let servers = encodeURIComponent(document.getElementById("SetServers").value);
            window.location.href = "/setresources?id=" + id + "&cpu=" + cpu + "&ram=" + ram + "&disk=" + disk + "&servers=" + servers
        }
        async function submitAdd() {
            let id = encodeURIComponent(document.getElementById("IDAdd").value);
            let cpu = encodeURIComponent(document.getElementById("AddCPU").value * 100);
            let ram = encodeURIComponent(document.getElementById("AddRAM").value * 1024);
            let disk = encodeURIComponent(document.getElementById("AddDisk").value * 1024);
            let servers = encodeURIComponent(document.getElementById("AddServers").value);
            
            window.location.href = "/addresources?id=" + id + "&cpu=" + cpu + "&ram=" + ram + "&disk=" + disk + "&servers=" + servers
        }
    </script>
    <!-- Custom js for this page -->
    <script src="/assets/js/file-upload.js"></script>
    <script src="/assets/js/typeahead.js"></script>
    <script src="/assets/js/select2.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>