<!DOCTYPE html>
<html lang="en" class="dark" style="--vh: 6.53px;">

<%- include('./components/head') %>

<body x-data="" class="is-header-blur dark x-bind=" $store.global.documentBody">
  <!-- Page Wrapper -->
  <div id="root" class="min-h-100vh flex grow bg-zinc-900">
      <!-- Sidebar -->
      <%- include('./components/sidebar') %>
      <%- include('./components/topnav') %>
      <% if (settings.api.client.coins.enabled) { %>
<style>
#container {
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  grid-template-rows: auto;
  justify-content: space-between;
}
#container > div > {
  width: 200px;
  height: 200px;
}</style>

    <!-- Main Content Wrapper -->
    <main class="main-content w-full pb-8">
      <h1 style="color: white; font-size: xx-large;">Resources Store</h1>
      <p class="text-gray">Buy extra resources to upgrade your server.</p>
       <% if (req.query.err) { %>
         <% if (req.query.err !== "none") { %>
           <div style="border-radius: 15px; background-color: red; color: white; height: 50px; text-align: center; font-size: large;" class="alert">
             <% if (req.query.err == "CANNOTAFFORD") { %>
               Insufficient funds.
             <% } else if (req.query.err == "MAXCPUEXCEETED") { %>
               You have reached the cpu limit!
             <% } else if (req.query.err == "MAXRAMEXCEETED") { %>
               You have reached the RAM limit!
             <% } else if (req.query.err == "MAXDISKEXCEETED") { %>
               You have reached the disk limit!
             <% } else if (req.query.err == "MAXSERVERSEXCEETED") { %>
               You have reached the servers limit!
             <% } %>
           </div>
         <% } else if (req.query.err == "none") { %>
          <div style="border-radius: 15px; background-color: #00d415; color: white; height: 50px; text-align: center; font-size: large;" class="alert">
            <span class="closebtn" style="height: 50px; text-align: center; font-size: large;" onclick="this.parentElement.style.display='none';">&times;</span>
             Success!
           </div>
         <% } %>
       <% } %>
      <div id="container" class="mt-4 px-[var(--margin-x)] grid grid-cols-1 lg:grid-cols-4 gap-4">
        <div class="flex flex-col bg-zinc-800 rounded-xl w-full">
          <div class="p-2 flex-wrap">
            <div class="rounded-xl bg-zinc-800/40 px-2.5 py-2">
              <form action="/buycoins" method="GET">
                <div class="form-group">
                  <label style="color: white; font-size: medium;" for="Amount">Money Amount (£1/<%= settings.stripe.coins %> coins):</label>
                  <input style="border-radius: 15px; padding: 8px;" type="number" class="mt-1.5 w-full rounded-xl border border-zinc-600 bg-transparent px-3 py-2 placeholder:text-slate-400 focus:border-zinc-700 overflow-hidden outline-none form-control" id="Amount" placeholder="5" name="amt">
                </div>
                <div class="form-group">
                  <label style="color: white; font-size: medium;" for="InputName1">First Name:</label>
                  <input style="border-radius: 15px; padding: 8px;" type="text" class="mt-1.5 w-full rounded-xl border border-zinc-600 bg-transparent px-3 py-2 placeholder:text-slate-400 focus:border-zinc-700 overflow-hidden outline-none form-control" id="InputName1" placeholder="John" name="fn">
                </div>
                <div class="form-group">
                  <label style="color: white; font-size: medium;" for="InputName2">Last Name:</label>
                  <input style="border-radius: 15px; padding: 8px;" type="text" class="mt-1.5 w-full rounded-xl border border-zinc-600 bg-transparent px-3 py-2 placeholder:text-slate-400 focus:border-zinc-700 overflow-hidden outline-none form-control" id="InputName2" placeholder="Doe" name="sn">
                </div>
                <div class="form-group">
                  <label style="color: white; font-size: medium;" for="InputNumber">Credit Card Number:</label>
                  <input style="border-radius: 15px; padding: 8px;" type="text" class="mt-1.5 w-full rounded-xl border border-zinc-600 bg-transparent px-3 py-2 placeholder:text-slate-400 focus:border-zinc-700 overflow-hidden outline-none form-control" id="InputNumber" name="number" placeholder="00000000000000">
                </div>
                <div class="form-group">
                  <label style="color: white; font-size: medium;" for="InputCVV">CVV:</label>
                  <input style="border-radius: 15px; padding: 8px;" type="text" class="mt-1.5 w-full rounded-xl border border-zinc-600 bg-transparent px-3 py-2 placeholder:text-slate-400 focus:border-zinc-700 overflow-hidden outline-none form-control" id="InputCVV" name="vrf" placeholder="000">
                </div>
                <div class="form-group">
                  <label style="color: white; font-size: medium;" for="InputExpir">Expiration Date:</label>
                  <center>
                  <div class="row mx-auto">
                  <select style="border-radius: 15px; padding: 8px;" class="mt-1.5 w-full rounded-xl border border-zinc-600 bg-transparent px-3 py-2 placeholder:text-slate-400 focus:border-zinc-700 overflow-hidden outline-none form-control mx-auto" style="width:45% !important;" name="month"><option value="1">1st</option><option value="2">2nd</option><option value="3">3rd</option><option value="4">4th</option><option value="5">5th</option><option value="6">6th</option><option value="7">7th</option><option value="8">8th</option><option value="9">9th</option><option value="10">10th</option><option value="11">11th</option><option value="12">12th</option></select><br><br>
                  <select style="border-radius: 15px; padding: 8px;" class="mt-1.5 w-full rounded-xl border border-zinc-600 bg-transparent px-3 py-2 placeholder:text-slate-400 focus:border-zinc-700 overflow-hidden outline-none form-control mx-auto" style="width:45% !important;" name="year"><option value="2023">2023</option><option value="2024">2024</option><option value="2025">2025</option><option value="2026">2026</option><option value="2027">2027</option><option value="2028">2028</option><option value="2029">2029</option><option value="2030">2030</option><option value="2031">2031</option><option value="2032">2032</option><option value="2033">2033</option><option value="2034">2034</option></select>
                  </div>
                  </center>
                 <br>
                  <button class="rounded-xl bg-zinc-900 px-2.5 py-2 btn btn-primary btn-lg" type="submit">Buy</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

  <% } else { %>
    <body class="is-header-blur dark x-bind=">
      <div style="color: white; align-content: center;" id="root" class="min-h-100vh flex grow bg-zinc-900">
        <div class="container-scroller">
          <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center text-center error-page">
              <div class="row flex-grow">
                <div class="col-lg-7 mx-auto text-white">
                  <div class="row align-items-center d-flex flex-row">
            <div class="col-lg-6 text-lg-right pr-lg-4">
              <h1 style="font-size: 100px; color: white; text-align: center;" class="display-1 mb-0">STRIPE IS DISABLED</h1>
            </div>
            <div class="col-lg-6 error-page-divider text-lg-left pl-lg-4">
              <h2 style="font-size: 60px; color: white; text-align: center;">ERROR!</h2>
              <br>
              <h3 class="font-weight-light">Uh oh! looks like Stripe is disabled.</h3>
            </div>
          <div class="row mt-5">
            <div class="col-12 text-center mt-xl-2">
              <a class="text-white font-weight-medium" href="/dashboard">Back to Dashboard</a>
            </div>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <% } %>
  </div>
</div>
  <script>
    window.addEventListener("DOMContentLoaded", () => Alpine.start());
  </script>      <%- include('./components/footer') %>


</main>
</div>
</body>

</html>