<!DOCTYPE html>
<html lang="en" class="dark" style="--vh: 6.53px;">

<%- include('./components/head') %>

<body x-data="" class="is-header-blur dark x-bind=" $store.global.documentBody">
  <!-- Page Wrapper -->
  <div id="root" class="min-h-100vh flex grow bg-zinc-900">
      <!-- Sidebar -->
<%- include('./components/sidebar') %>

    <!-- Main Content Wrapper -->
    <main class="main-content w-full pb-8">
      <% if  (req.query.err === "CANNOTAFFORDRENEWAL") { %>
        <div class="alert" style="background-color: #007fcc; border-radius: 15px;">
          You need at least <%= settings.renewals.cost %> coins to purchase a server renewal!
        </div>
        <br>
        <% } if (req.query.success === 'RENEWED') { %>
        <div class="alert" style="background-color: #007fcc; border-radius: 15px;">
          Succesfully purchased renewal for server!
        </div>
        <br>
        <% } if (req.session.newaccount || req.session.password) { %>
        <div style="background-color: #007fcc; border-radius: 15px" class="alert">
          <% if (req.session.newaccount) { %>
            <p class="text-white m-2">Welcome! You are a first time user</p><br>
          <% } %>
          <% if (req.session.password) { %>
            <p class="text-white m-2">password has been changed to <%= req.session.password %>, however if you do not save that then you can just reset it via the "Account Settings" page</p>
          <% } else { %>
            <p class="text-white m-2">Please head over to Settings to create a password.</p>
          <% } %>
        </div>
        <br>
        <% } %>
      <div class="w-full h-[200px] rounded-xl bg-no-repeat bg-center bg-cover flex flex-row flex-wrap" style="background-image: url('https://r4.wallpaperflare.com/wallpaper/394/448/887/abstract-isometric-minimalism-fez-wallpaper-c9d0a8ad512acdfb6637888fb0e116bd.jpg');">
        <div class="bg-gradient-to-t from-zinc-900 to-transparent w-full h-full">
          <div class="flex flex-row h-full text-white items-center text-center justify-center">
            <h1 class="font-bold text-2xl mt-4">KlovitClient</h1>
          </div>

        </div>
      </div>
      <div class="mt-6 flex flex-col items-center justify-between space-y-2 px-[var(--margin-x)] text-center transition-all duration-[.25s] sm:flex-row sm:space-y-0 sm:text-left">
        <div>
          <h3 class="text-2xl font-semibold text-slate-700 dark:text-navy-100">
            Dashboard
          </h3>
        </div>
        <div>
          <p class="font-medium text-slate-700 dark:text-navy-100">
            Quick Links
          </p>
          <div class="mt-2 flex space-x-2">
            <div class="items-center text-2xl h-8 w-8 hover:scale-110 hover:text-white transition duration-300">
              <a href="https://discord.gg/grrRKuyyyE"><i class="fa-brands fa-discord"></i></a>
            </div>
            <div class="items-center text-2xl h-8 w-8 hover:scale-110 hover:text-white transition duration-300">
              <a href="https://github.com/Klovit/KlovitClient"><i class="fa-brands fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>
      <section class="lg:flex lg:justify-center mt-4 px-[var(--margin-x)] sm:mt-5">
        <div class="overflow-hidden w-full text-center lg:shadow-md lg:rounded-xl">
          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-2">
            <div class="flex items-center space-x-4 rounded-2xl bg-cover bg-center border border-slate-150 p-4 dark:border-zinc-700" style="background-image: url('https://r4.wallpaperflare.com/wallpaper/293/460/54/minecraft-render-screen-shot-athens-wallpaper-8f13860e99d1079f3aa079a6533a9c55.jpg');">
              <div class="text-right rounded-xl bg-zinc-800 px-3 py-3 mx-3 hover:mx-5 cursor-pointer hover:text-white hover:bg-zinc-700">
               <a href="/dashboard/new">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z" />
  </svg>
</a>
              </div>
            </div>
            <div class="flex items-center space-x-4 rounded-2xl bg-cover bg-center border border-slate-150 p-4 dark:border-zinc-700" style="background-image: url('https://r4.wallpaperflare.com/wallpaper/308/560/904/2560x1440-px-bridge-castle-cathedral-dark-souls-iii-moon-screen-shot-video-games-village-anime-death-note-hd-art-wallpaper-8bd68c2d43a18f29c5b42b292d5c5cd0.jpg');">
              <div class="flex items-center justify-start text-black dark:text-white flex-grow">
                <p class="text-2xl">Go to the store</p>
              </div>
              <div class="text-right rounded-xl bg-zinc-800 px-3 py-3 mx-3 hover:mx-5 cursor-pointer hover:text-white hover:bg-zinc-700">
                <a href="/store">
  <i class="fa-solid fa-store"></i>
</a>

              </div>
            </div>
          </div>
        </div>
      </section>
<%- include('./components/status') %>
<section>
  <div class="mt-4 px-[var(--margin-x)] grid grid-cols-12 gap-4">
    <div class="col-span-12 grid grid-cols-12 rounded-lg bg-gradient-to-r from-zinc-800/40 to-transparent py-5 sm:py-6">
      <div class="col-span-12 sm:col-span-6 lg:col-span-4">
        <div class="px-4 text-white sm:px-5">
          <div class="-mt-1 flex items-center space-x-2">
            <div x-data="usePopper({placement:'bottom-end',offset:4})" @click.outside="isShowPopper &amp;&amp; (isShowPopper = false)" class="inline-flex">
            </div>
          </div>

          <div class="mt-3">
            <p class="text-2xl font-semibold">Your Servers</p>
          </div>
        </div>
      </div>

    <div class="col-span-12 mt-5 sm:col-span-6 sm:mt-0 lg:col-span-8">
<div class="swiper px-5 sm:pl-0 swiper-initialized swiper-horizontal swiper-backface-hidden" x-init="$nextTick(()=>new Swiper($el,{ slidesPerView: 'auto', spaceBetween: 16}))">
<div class="swiper-wrapper" id="swiper-wrapper-7f8eae411686ef7b" aria-live="polite" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms; transition-delay: 0ms;">
  <% for (let i = 0; i < pterodactyl.relationships.servers.data.length; i++) { %>
    <div class="swiper-slide relative h-40 w-100 shrink-0 rounded-lg bg-cover swiper-slide-active" role="group" aria-label="<%= i + 1 %> / <%= pterodactyl.relationships.servers.data.length %>" style="margin-right: 16px; background-image: url('https://r4.wallpaperflare.com/wallpaper/884/753/238/video-games-minecraft-wallpaper-58f6fdb890107c88400c31ae386214aa.jpg');">
      <div class="absolute inset-0 flex flex-col justify-between rounded-lg border border-white/10 p-5">
        <div class="flex items-center text-gray-200 justify-between">
          <img class="h-10" src="https://media.discordapp.net/attachments/1147873114219352144/1147873480541491210/bc270c23058d513de5124ffea6bf9199af7a2370.png?ex=651573fc&is=6514227c&hm=d052d6df59ce704ec7ab3af750d0899b14f39765a7be559f775b5c2cf4e71f3e&=" alt="image">
          RAM: <%= pterodactyl.relationships.servers.data[i].attributes.limits.memory %>MB<br>
          Disk: <%= pterodactyl.relationships.servers.data[i].attributes.limits.disk %>MB<br>
          CPU: <%= pterodactyl.relationships.servers.data[i].attributes.limits.cpu %>%<br>
          <% if (settings.renewals.status) { %> Delay - <%= settings.renewals.delay %> Day(s) | Grace Period - <%= settings.renewals.delay %> Day(s)<br><% } %>
        </div>
        <div class="text-white">
          <p class="text-lg font-semibold tracking-wide">
            <%= pterodactyl.relationships.servers.data[i].attributes.name.length > 40 ? pterodactyl.relationships.servers.data[i].attributes.name.slice(0, 40) + "..." : pterodactyl.relationships.servers.data[i].attributes.name %> &nbsp; &nbsp;  <a role="button" style="border: thin solid #474343; border-radius: 10px; font-size: medium;" class="btn btn-danger btn-lg" onclick="if (confirm('Please confirm you want to delete this server, the data cannot be retrieved after it has been deleted.')) { window.location.href='/delete?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>' }">Delete Server</a> | <a role="button" style="border: thin solid #474343; border-radius: 10px; font-size: medium;" class="btn btn-danger btn-lg" onclick="window.location.href='/dashboard/edit?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>' ">Edit Server</a><% if (settings.renewals.status) { %>  |  <a role="button" style="border: thin solid #474343; border-radius: 15px;" class="btn btn-warning btn-lg" href="/renew?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>">Renew</a><% } %>
          </p>
        </div>
      </div>
    </div>
  <% } %>
</div>
<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
</div>
</div>
    </div>
  </div>
</section>
          </div>
        </div>
      </div>
    </main>
  </div>
  <div id="x-teleport-target"></div>
  <script>
    window.addEventListener("DOMContentLoaded", () => Alpine.start());
  </script>
  <%- include('./components/footer') %>
</body>

</html>