<!DOCTYPE html>
<html lang="en" class="dark" style="--vh: 6.53px;">

<%- include('./components/head') %>

<body x-data="" class="is-header-blur dark x-bind=" $store.global.documentBody">
  <!-- Page Wrapper -->
  <div id="root" class="min-h-100vh flex grow bg-zinc-900">
      <!-- Sidebar -->
      <%- include('./components/sidebar') %>
      <%- include('./components/topnav') %>


<style>
#container {
  display: flex;                  /* establish flex container */
  flex-direction: column;            /* default value; can be omitted */
  flex-wrap: wrap;              /* default value; can be omitted */
  justify-content: space-between;
}
#container > div > {
  width: 300px;
  height: 200px;
}</style>

    <!-- Main Content Wrapper -->
    <main class="main-content w-full pb-8">
      <h1 style="color: white; font-size: xx-large;">&nbsp;Earning</h1>
      <p class="text-gray">&nbsp;&nbsp;Earn Coins to buy resources.</p>
       <% if (req.query.err) { %>
         <% if (req.query.err !== "none") { %>
          <div style="border-radius: 15px; background-color: #00d415; color: white; height: 50px; text-align: center; font-size: large;" class="alert">
            <span class="closebtn" style="height: 50px; text-align: center; font-size: large;" onclick="this.parentElement.style.display='none';">&times;</span>
            <% if (req.query.err == "SUCCESSLV") { %>
              Success! <%= settings.linkvertise.coins%> coins were added to your account.
              <% } else if (req.query.err == "SUCCESSATG") { %>
              Success! <%= settings.atglinks.coins%> coins were added to your account.
              <% } else if (req.query.err == "SUCCESSLP") { %>
              Success! <%= settings.linkpays.coins%> coins were added to your account.
              <% } else if (req.query.err == "SUCCESSEXE") { %>
              Success! <%= settings.exeio.coins%> coins were added to your account.
              <% } %>
           </div>
               <% } %>
       <% } %>
       
      <div id="container" class="mt-4 px-[var(--margin-x)] grid grid-cols-1 lg:grid-cols-4 gap-4">
        <% if (settings.api.client.coins.enabled) { %>
        <% if (settings.linkvertise.enabled) { %>

        <h2 style="font-size: 50px; color: white;">Linkvertise</h2>
        <p class="text-gray">Earn coins by completing Linkvertise links.</p>
        <div class="flex flex-col bg-zinc-800 rounded-xl w-full">
          <div class="p-2 flex-wrap">
            <div class="rounded-xl bg-zinc-800/40 px-2.5 py-2">
                <div  class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                          <p>Every time you complete a LinkVertise link, you will earn <%= settings.linkvertise.coins%> coins!<br>Generate a link below:<br><br>
                            <button  class="rounded-xl bg-zinc-900 px-2.5 py-2 btn btn-primary btn-lg"onclick="generatelv()">Generate Link</button></p></center>
                            <script type="text/javascript">
                              function generatelv() {
                                window.location.replace(`/earn/lv/gen`)
                              }
                            </script>
                      </div>
                  </div>
              </div>
          </div>
        </div>
   <% } %>
                <br></br>
        <% if (settings.atglinks.enabled) { %>
                <h2 style="font-size: 50px; color: white;">ATGLinks</h2>
                <p class="text-gray">Earn coins by completing ATGLinks links.</p>
                <div class="flex flex-col bg-zinc-800 rounded-xl w-full">
                    <div class="p-2 flex-wrap">
                <div  class="rounded-xl bg-zinc-800/40 px-2.5 py-2">
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                          <p>Every time you complete a ATGLinks link, you will earn <%= settings.atglinks.coins%> coins!<br>Generate a link below:<br><br>
                            <button id="generateatgBtn"  class="rounded-xl bg-zinc-900 px-2.5 py-2 btn btn-primary btn-lg">Generate Link</button></p></center>
                            <script type="text/javascript">
                                    const generateatgBtn = document.getElementById('generateatgBtn');
                                 generateatgBtn.addEventListener('click', async () => {
                                try {
                                   const response = await fetch('/earn/atg/gen');
                                   const data = await response.json();
                                   if (response.ok) {
                                 Swal.fire({
                                   title: 'Success',
                                   text: 'ATGLinks link generated successfully.',
                                   icon: 'success',
                                   html: `Your ATGLinks link: <a style="color: aqua" href="${data.link}"> Link</a>`
                                 });
                                   } else {
                                     Swal.fire({
                                       title: 'Error',
                                       text: 'Error generating ATGLinks link. Please try again later.',
                                       icon: 'error'
                                     });
                                   }
                                } catch (error) {
                                 console.error('Error generating ATGLinks link:', error);
                                 Swal.fire({
                                   title: 'Error',
                                   text: 'Error generating ATGLinks link. Please try again later.',
                                   icon: 'error'
                                 });
                               }
                              });
                            </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
   <% } %>
        <% if (settings.linkpays.enabled) { %>
            <br></br>
            <h2 style="font-size: 50px; color: white;">LinkPays</h2>
            <p class="text-gray">Earn coins by completing LinkPays links.</p>
            <div class="flex flex-col bg-zinc-800 rounded-xl w-full">
            <div class="p-2 flex-wrap">
            <div  class="rounded-xl bg-zinc-800/40 px-2.5 py-2">
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                          <p>Every time you complete a LinkPays link, you will earn <%= settings.linkpays.coins%> coins!<br>Generate a link below:<br><br>
                            <button id="generatelpBtn"  class="rounded-xl bg-zinc-900 px-2.5 py-2 btn btn-primary btn-lg">Generate Link</button></p></center>
                            <script type="text/javascript">
                                    const generatelpBtn = document.getElementById('generatelpBtn');
                                 generatelpBtn.addEventListener('click', async () => {
                                try {
                                   const response = await fetch('/earn/lp/gen');
                                   const data = await response.json();
                                   if (response.ok) {
                                    Swal.fire({
                                   title: 'Success',
                                   text: 'LinkPays link generated successfully.',
                                   icon: 'success',
                                   html: `Your LinkPays link: <a style="color: aqua" href="${data.link}"> Link</a>`
                                 });
                                   } else {
                                     Swal.fire({
                                       title: 'Error',
                                       text: 'Error generating LinkPays link. Please try again later.',
                                       icon: 'error'
                                     });
                                   }
                                } catch (error) {
                                 console.error('Error generating LinkPays link:', error);
                                 Swal.fire({
                                   title: 'Error',
                                   text: 'Error generating LinkPays link. Please try again later.',
                                   icon: 'error'
                                 });
                               }
                              });
                            </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
   <% } %>
        <% if (settings.exeio.enabled) { %>
            <br></br>
            <h2 style="font-size: 50px; color: white;">ExeIO</h2>
            <p class="text-gray">Earn coins by completing ExeIO links.</p>
                <div class="flex flex-col bg-zinc-800 rounded-xl w-full">
                <div class="p-2 flex-wrap">
                <div  class="rounded-xl bg-zinc-800/40 px-2.5 py-2">
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                          <p>Every time you complete a ExeIO link, you will earn <%= settings.exeio.coins%> coins!<br>Generate a link below:<br><br>
                            <button id="generateexeBtn"  class="rounded-xl bg-zinc-900 px-2.5 py-2 btn btn-primary btn-lg">Generate Link</button></p></center>
                            <script type="text/javascript">
                                    const generateexeBtn = document.getElementById('generateexeBtn');
                                 generateexeBtn.addEventListener('click', async () => {
                                try {
                                   const response = await fetch('/earn/exeio/gen');
                                   const data = await response.json();
                                   if (response.ok) {
                                    Swal.fire({
                                   title: 'Success',
                                   text: 'ExeIO link generated successfully.',
                                   icon: 'success',
                                   html: `Your ExeIO link: <a style="color: aqua" href="${data.link}"> Link</a>`
                                 });
                                   } else {
                                     Swal.fire({
                                       title: 'Error',
                                       text: 'Error generating ExeIO link. Please try again later.',
                                       icon: 'error'
                                     });
                                   }
                                } catch (error) {
                                 console.error('Error generating ExeIO link:', error);
                                 Swal.fire({
                                   title: 'Error',
                                   text: 'Error generating ExeIO link. Please try again later.',
                                   icon: 'error'
                                 });
                               }
                              });
                            </script>
                            </div>
                </div>
        </div>
    </div>
  </div>
</div>
   <% } %>
   <% if (settings.api.client.j4r.enabled) { %>
<%- include('./components/ads') %>
<h2 style="font-size: 50px; color: white;"> Join for Rewards</h2>
<p class="text-gray">Join discord servers and get extra credits.</p>
   <% for (let i = 0, len = settings.api.client.j4r.ads.length; i < len; i++) { %>
    <div id="container" class="flex flex-col bg-zinc-800 rounded-xl w-full">
      <div class="p-2 flex-wrap">
      <div  class="rounded-xl bg-zinc-800/40 px-2.5 py-2">
          <div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                <h2 style="font-size: 30px; color: white;"><%= settings.api.client.j4r.ads[i].name %></h2>
                <p class="text-gray"> Join this server to receive: <br> <%= settings.api.client.j4r.ads[i].coins %> Coins</p>
                    <form class="forms-sample">
                      <a role="button" class="rounded-xl bg-zinc-900 px-2.5 py-2 btn btn-primary btn-lg" href="<%= settings.api.client.j4r.ads[i].invite %>" target="_blank">Join Server</a> <a style="background-color: #0a0a0a3f;" class="btn btn-primary btn-lg" href="../login">Claim reward</a>
                    </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
   <% } %>
   <% } %>
   <% if (settings.api.client.coins.leaderboard.enabled) { %>
    <br>
    <div class="flex flex-col bg-zinc-800 rounded-xl w-full">
      <div class="p-2 flex-wrap">
      <div  class="rounded-xl bg-zinc-800/40 px-2.5 py-2">
          <div class="row">
        <div class="card-header">
            <div class="card-title" style="font-size: 30px; color: white;">Leaderboard (Richest users in coins.)</div>
        </div>
        <div class="card-body">
          <center><p>Top 5 Rich users:<br>#1 - <span id="rich1">Loading...</span><br>#2 - <span id="rich2">Loading...</span><br>#3 - <span id="rich3">Loading...</span><br>#4 - <span id="rich4">Loading...</span><br>#5 - <span id="rich5">Loading...</span><br></p></center>
        </div>
    </div>
</div>
</div>
</div>
<script>
async function updateLeaderboard() {
    fetch("/leaderboard").then(res => Promise.resolve(res.json()).then(leaderboard => {
        document.getElementById(`rich1`).innerHTML = `${leaderboard[0].username} - ${leaderboard[0].coins} Coins`
        document.getElementById("rich2").innerHTML = `${leaderboard[1].username} - ${leaderboard[1].coins} Coins`
        document.getElementById("rich3").innerHTML = `${leaderboard[2].username} - ${leaderboard[2].coins} Coins`
        document.getElementById("rich4").innerHTML = `${leaderboard[3].username} - ${leaderboard[3].coins} Coins`
        document.getElementById("rich5").innerHTML = `${leaderboard[4].username} - ${leaderboard[4].coins} Coins`
    }))
}
updateLeaderboard();
</script>
<% } %>

 </div>
</div>
</div>

<% } else { %>
  <body class="is-header-blur dark x-bind=">
    <div style="color: white; align-content: center;" id="root">
      <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
          <div class="content-wrapper d-flex align-items-center text-center error-page">
            <div class="row flex-grow">
              <div class="col-lg-7 mx-auto text-white">
                <div class="row align-items-center d-flex flex-row">
          <div class="col-lg-6 text-lg-right pr-lg-4">
            <h1 style="font-size: 250px; color: white; text-align: center;" class="display-1 mb-0">COINS ARE DISABLED</h1>
          </div>
          <div class="col-lg-6 error-page-divider text-lg-left pl-lg-4">
            <h2 style="font-size: 60px; color: white; text-align: center;">ERROR!</h2>
            <br>
            <h3 class="font-weight-light">Uh oh! looks like Coins are disabled.</h3>
          </div>
        <div class="row mt-5">
          <div class="col-12 text-center mt-xl-2">
            <a class="text-white font-weight-medium" href="/dashboard">Back to Dashboard</a>
          </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <% } %>

</main>
  </div>
        <script>
    window.addEventListener("DOMContentLoaded", () => Alpine.start());
  </script>      <%- include('./components/footer') %>






</body>

</html>
