<!DOCTYPE html>
<html lang="en" class="dark" style="--vh: 6.53px;">

<%- include('./components/head') %>

<body x-data="" class="is-header-blur dark x-bind=" $store.global.documentBody">
  <!-- Page Wrapper -->
  <div id="root" class="min-h-100vh flex grow bg-zinc-900">
      <!-- Sidebar -->
      <%- include('./components/sidebar') %>
      <%- include('./components/topnav') %>


<style>
#container {
  display: flex;                  /* establish flex container */
  flex-direction: column;            /* default value; can be omitted */
  flex-wrap: wrap;              /* default value; can be omitted */
  justify-content: space-between;
}
#container > div > {
  width: 300px;
  height: 200px;
}</style>

    <main class="main-content w-full pb-8">
        <div id="container" class="mt-4 px-[var(--margin-x)] grid grid-cols-1 lg:grid-cols-4 gap-4">
            <% if (settings.api.client.gift.enabled) { %>
                <div class="rounded-xl bg-zinc-800/40 px-2.5 py-2">  
             <h1 style="color: white; font-size: xx-large;">Gift Coins</h1>
             <p class="text-gray">Gift others your coins.</p>
             <% if (req.query.err) { %>
              <div style="border-radius: 15px;" class="alert">
                <% if (req.query.err == "MISSINGFIELDS") { %>
                    You must fill out all fields in the form.
                <% } else if (req.query.err == "CANNOTGIFTYOURSELF") { %>
                    You cannot gift coins to yourself -_-
                <% } else if (req.query.err == "CANTAFFORD") { %>
                    You do not have enough coins to gift this amount.
                <% } else if (req.query.err == "USERDOESNTEXIST") { %>
                    No user with the ID you tried to send coins to has logged in to the dashboard.
                <% } else if (req.query.err == "TOOLOWCOINS") { %>
                    You must gift 1 or more coin.
                <% } %>
              </div>
            <% } else if (req.query.err == "none") { %>
              <div class="alert" style="background-color: #007fcc; border-radius: 15px">
                Success! The resources have been transferred
              </div>
            <% } %>
                <div class="flex flex-col bg-zinc-800 rounded-xl w-full">
                  <div class="flex flex-col bg-zinc-800 rounded-xl w-full card">
                    <div class="flex flex-col bg-zinc-800 rounded-xl w-full card-body">
                      <form class="flex flex-col bg-zinc-800 rounded-xl w-full forms-sample">
                        <div class="form-group">
                            &nbsp;<label style="color: white; font-size: medium;" for="InputID">Discord ID:</label> &nbsp;
                            &nbsp;<input style="border-radius: 15px; padding: 8px;" type="number" class="rounded-xl bg-zinc-800/40 px-2.5 py-2 form-control" id="InputID" placeholder="Enter the Discord ID of the user you are gifting to here">
                        </div>
                        <br></br>
                        <div class="form-group">
                            &nbsp;<label style="color: white; font-size: medium;" for="InputCoins">Amount:</label> &nbsp;
                            &nbsp;<input style="border-radius: 15px; padding: 8px;" type="number" class="rounded-xl bg-zinc-800/40 px-2.5 py-2 form-control" id="InputCoins" placeholder="100">
                        </div>
                         <br></br>
                       <a role="button" class="rounded-xl bg-zinc-900 px-2.5 py-2 btn btn-primary btn-lg" href="javascript: submitGiftcoins()">Gift Coins</a>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            <%- include('./components/ads') %>
            <div class="rounded-xl bg-zinc-800/40 px-2.5 py-2">  
           <h1 style="color: white; font-size: xx-large;">Gift Resources</h1>
              <p class="text-gray">Gift others your Resources.</p>
              <div class="flex flex-col bg-zinc-800 rounded-xl w-full">
                <div class="flex flex-col bg-zinc-800 rounded-xl w-full card">
                  <div class="flex flex-col bg-zinc-800 rounded-xl w-full card-body">
                    <form class="flex flex-col bg-zinc-800 rounded-xl w-full forms-sample">
                         <div class="form-group">
                            &nbsp;<label style="color: white; font-size: medium;" for="InputID">Discord ID:</label> &nbsp;
                            &nbsp;<input style="border-radius: 15px; padding: 8px;" type="number" class="rounded-xl bg-zinc-800/40 px-2.5 py-2 form-control" id="InputID" placeholder="Enter the Discord ID of the user you are gifting to here">
                         </div>
                         <br></br>
                         <div class="form-group">
                            &nbsp;<label style="color: white; font-size: medium;" for="InputCPU">CPU (Cores):</label> &nbsp;
                            &nbsp;<input style="border-radius: 15px; padding: 8px;" type="number" class="rounded-xl bg-zinc-800/40 px-2.5 py-2 form-control" id="InputCPU" placeholder="1">
                         </div>
                         <br></br>
                         <div class="form-group">
                            &nbsp;<label style="color: white; font-size: medium;" for="InputRAM">RAM (<% if (settings.resources.type == "GB") { %>GBs<% } else { %>MBs<% } %>):</label> &nbsp;
                            &nbsp;<input style="border-radius: 15px; padding: 8px;" type="number" class="rounded-xl bg-zinc-800/40 px-2.5 py-2 form-control" id="InputRAM" placeholder="<% if (settings.resources.type == "GB") { %>2<% } else { %>2048<% } %>">
                         </div>
                         <br></br>
                         <div style="color: white; font-size: medium;" class="form-group">
                            &nbsp;<label for="InputDisk">Disk (<% if (settings.resources.type == "GB") { %>GBs<% } else { %>MBs<% } %>):</label> &nbsp;
                            &nbsp;<input style="border-radius: 15px; padding: 8px;" type="number" class="rounded-xl bg-zinc-800/40 px-2.5 py-2 form-control" id="InputDisk" placeholder="<% if (settings.resources.type == "GB") { %>40<% } else { %>40960<% } %>">
                         </div>
                         <br></br>
                         <div style="color: white; font-size: medium;" class="form-group">
                            &nbsp;<label for="InputDisk">Servers:</label> &nbsp;
                            &nbsp;<input style="border-radius: 15px; padding: 8px;" type="number" class="rounded-xl bg-zinc-800/40 px-2.5 py-2 form-control" id="InputServers" placeholder="2">
                         </div>
                         <br></br>
                        <a role="button" class="rounded-xl bg-zinc-900 px-2.5 py-2 btn btn-primary btn-lg" href="javascript: submitGiftres()">Gift Resources</a>
                       </form>
                     </div>
                   </div>
             </div>
             </div>
             <script>
              async function submitGiftcoins() {
                let id = encodeURIComponent(document.getElementById("InputID").value);
                let coins = encodeURIComponent(document.getElementById("InputCoins").value);
                document.location.href = `/giftcoins?id=${id}&coins=${coins}`;
              };
            </script>
                <script>
                  async function submitGiftres() {
                    let id = encodeURIComponent(document.getElementById("InputID").value);
                    <% if (settings.resources.type == "GB") { %>
                      let ram = encodeURIComponent(document.getElementById("InputRAM").value * 1024);
                      let disk = encodeURIComponent(document.getElementById("InputDisk").value * 1024);
                    <% } else { %>
                      let ram = encodeURIComponent(document.getElementById("InputRAM").value);
                      let disk = encodeURIComponent(document.getElementById("InputDisk").value);
                    <% } %>
                    let cpu = encodeURIComponent(document.getElementById("InputCPU").value * 100);
                    let servers = encodeURIComponent(document.getElementById("InputServers").value);
                    document.location.href = `/giftres?id=${id}&ram=${ram}&disk=${disk}&cpu=${cpu}&servers=${servers}`;
                  };
                </script>
             <% } else { %>
                <body class="is-header-blur dark x-bind=">
                <div style="color: white; align-content: center;" id="root">
                  <div class="container-scroller">
                    <div class="container-fluid page-body-wrapper full-page-wrapper">
                      <div class="content-wrapper d-flex align-items-center text-center error-page">
                        <div class="row flex-grow">
                          <div class="col-lg-7 mx-auto text-white">
                            <div class="row align-items-center d-flex flex-row">
                      <div class="col-lg-6 text-lg-right pr-lg-4">
                        <h1 style="font-size: 250px; color: white; text-align: center;" class="display-1 mb-0">GIFTING IS DISABLED</h1>
                      </div>
                      <div class="col-lg-6 error-page-divider text-lg-left pl-lg-4">
                        <h2 style="font-size: 60px; color: white; text-align: center;">ERROR!</h2>
                        <br>
                        <h3 class="font-weight-light">Uh oh! looks like Gifting is disabled.</h3>
                      </div>
                    <div class="row mt-5">
                      <div class="col-12 text-center mt-xl-2">
                        <a class="text-white font-weight-medium" href="/dashboard">Back to Dashboard</a>
                      </div>
                </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              <% } %>
            </div>

</main>
  </div>

 <%- include('./components/footer') %>
        
</body>

</html>