<!DOCTYPE html>
<html lang="en" class="dark" style="--vh: 6.53px;">

<%- include('./components/head') %>

<body x-data="" class="is-header-blur dark x-bind=" $store.global.documentBody">
  <!-- Page Wrapper -->
  <div id="root" class="min-h-100vh flex grow bg-zinc-900">
      <!-- Sidebar -->
      <%- include('./components/sidebar') %>
      <%- include('./components/topnav') %>


<style>
#container {
  display: flex;                  /* establish flex container */
  flex-direction: column;            /* default value; can be omitted */
  flex-wrap: wrap;              /* default value; can be omitted */
  justify-content: space-between;
}
#container > div > {
  width: 300px;
  height: 200px;
}</style>

    <!-- Main Content Wrapper -->
    <main class="main-content w-full pb-8">
       
      <div id="container" class="mt-4 px-[var(--margin-x)] grid grid-cols-1 lg:grid-cols-4 gap-4">
        <% if (req.session.newaccount || req.session.password) { %>
          <div style="background-color: #ffca00; color: #121212; border-radius: 15px" class="alert">
              <div class="alertbtn"><a class="btn btn-warning btn-clipboard" style="background-color: #ddb100; color: black !important" data-clipboard-action="copy" data-clipboard-target="#clipboardExample2">Copy password</a></div>
              <% if (req.session.newaccount) { %>
                  A new account has been created for you on the Pterodactyl Panel.<br>
              <% } %>
              <% if (req.session.password) { %>
                  The password was changed to <span id="clipboardExample2"><%= req.session.password %></span>, If you are unable to login, please ensure that the password is as displayed here.
              <% } else { %>
                  Please check your email to set your password.
              <% } %>
          </div>
      <% } %>
        <h1 style="font-size: 50px; color: white;">Settings</h1>
        <h4 style="font-size: 20px; color: white;">Manage your <%= settings.name %> Account here.</h4>
        <div class="flex flex-col bg-zinc-800 rounded-xl w-full">
          <div class="p-2 flex-wrap">
            <div style="border: thin solid #474343;" class="rounded-xl bg-zinc-800/40 px-2.5 py-2">
                <div  class="row">
                                <img class="h-32 w-full object-cover lg:h-48 rounded-xl" src="https://wallpaperaccess.com/full/4650672.jpg" alt="">
                              </div>
                              <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
                                <div class="-mt-12 sm:-mt-16 sm:flex sm:items-end sm:space-x-5">
                                  <div class="flex">
                                    <img class="h-24 w-24 rounded-full ring-2 ring-zinc-700 sm:h-32 sm:w-32" src="https://cdn.discordapp.com/avatars/<%= userinfo.id %>/<%= userinfo.avatar %>" alt="">
                                  </div>
                                  <div class="mt-6 sm:flex sm:min-w-0 sm:flex-1 sm:items-center sm:justify-end sm:space-x-6 sm:pb-1">
                                    <div class="mt-6 min-w-0 flex-1 sm:hidden md:block">
                                      <h1 class="truncate text-2xl font-bold text-white"><%= userinfo.username %></h1>
                                    </div>
                                    <div class="justify-stretch mt-6 flex flex-col space-y-3 sm:flex-row sm:space-y-0 sm:space-x-4">
                                    <% if (pterodactyl.root_admin == true) { %>
                                      <span class="px-2 py-1 m-1 bg-red-500 text-white rounded-lg">
                                        Admin
                                      </span>
                                      <% } else { %>
                                      <span class="px-2 py-1 m-1 bg-blue-500 text-white rounded-lg">
                                        Member
                                      </span>
                                      <% } %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="lg:flex lg:justify-between mt-4">
                            <div class="lg:w-3/4">
                              <div class="mb-4 bg-zinc-800/40 rounded-xl">
                                <ul class="text-sm font-medium text-center text-gray-500 divide-x divide-gray-200 rounded-xl shadow sm:flex dark:divide-gray-700 dark:text-gray-400" id="resourceTab" data-tabs-toggle="#resourceTabContent" role="tablist">
                                  <li class="w-full" role="presentation">
                                    <button class="inline-block w-full p-4 bg-white hover:text-gray-700 rounded-l-xl hover:bg-gray-50 dark:hover:text-white dark:bg-zinc-800/40 dark:hover:bg-zinc-800" data-tabs-target="#overview" type="button" role="tab" aria-controls="overview" aria-selected="false">Account Info</button>
                                  </li>
                                </ul>
                              </div>
                              <div id="resourceTabContent">
                                <div class="hidden p-4 bg-zinc-800/40 rounded-xl mb-4" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                                  <div class="p-4 sm:p-5">
                                    <div class="my-7 h-px bg-zinc-700"></div>
                                    <div style="color: white;" class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4">
                                      <label class="block">
                                        <span>Username </span>
                                        <span class="relative mt-1.5 flex">
                                          <input class="form-input peer w-full rounded-xl border border-zinc-700 bg-transparent px-3 py-2 pl-9" value="<%= pterodactyl.username %>" type="text" disabled>
                                        </span>
                                      </label>
                                      <label class="block">
                                        <span>Email </span>
                                        <span class="relative mt-1.5 flex">
                                          <input class="form-input peer w-full rounded-xl border border-zinc-700 bg-transparent px-3 py-2 pl-9" value="<%= pterodactyl.email %>" type="text" disabled>
                                        </span>
                                      </label>
                                    </div>
                                    <div class="my-7 h-px bg-zinc-700"></div>
                                    <div>
                                      <h3 class="text-base font-medium text-slate-600 dark:text-navy-100">
                                        Self care.
                                      </h3>
                                      <div class="flex items-center justify-between pt-4">
                                        <div class="flex items-center space-x-4">
                                          <div class="w-12">
                                            <img src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/636e0a6a49cf127bf92de1e2_icon_clyde_blurple_RGB.png" alt="logo">
                                          </div>
                                          <p class="font-medium line-clamp-1">
                                           Forgot Password? Then click on this button.
                                          </p>
                                        </div>
                                        <button class="btn h-8 rounded-full border border-slate-200 px-3 text-xs+ font-medium text-primary hover:bg-slate-150 focus:bg-slate-150 active:bg-slate-150/80 dark:border-navy-500 dark:text-accent-light dark:hover:bg-navy-500 dark:focus:bg-navy-500 dark:active:bg-navy-500/90" onclick="location.href = '/regen';">
                                          Regenerate password
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="hidden p-4 mb-4 rounded-lg bg-gray-50 dark:bg-zinc-800/40" id="releases" role="tabpanel" aria-labelledby="releases-tab">
                                    <div class="p-4 sm:p-5">
                                        <div class="my-7 h-px bg-zinc-700"></div>
                                        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4">
                                        </div>
                
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</main>
  </div>
  <script>
    window.addEventListener("DOMContentLoaded", () => Alpine.start());
  </script>
<%- include('./components/footer') %>






</body>

</html>