<!DOCTYPE html>
<html lang="en" class="dark" style="--vh: 6.53px;">

<%- include('./components/head') %>

<body x-data="" class="is-header-blur dark x-bind=" $store.global.documentBody">
  <!-- Page Wrapper -->
  <div id="root" class="min-h-100vh flex grow bg-zinc-900">
      <!-- Sidebar -->
      <%- include('./components/sidebar') %>
      <% if (settings.api.client.coins.enabled) { %>
      <% if (settings.api.client.coins.store.enabled) { %>
<style>
#container {
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  grid-template-rows: auto;
  justify-content: space-between;
}
#container > div > {
  width: 200px;
  height: 200px;
}</style>

    <!-- Main Content Wrapper -->
    <main class="main-content w-full pb-8">
      <h1 style="color: white; font-size: xx-large;">Resources Store</h1>
      <p class="text-gray">Buy extra resources to upgrade your server.</p>
       <% if (req.query.err) { %>
         <% if (req.query.err !== "none") { %>
           <div style="border-radius: 15px; background-color: red; color: white; height: 50px; text-align: center; font-size: large;" class="alert">
             <% if (req.query.err == "CANNOTAFFORD") { %>
               Insufficient funds.
             <% } else if (req.query.err == "MAXCPUEXCEETED") { %>
               You have reached the cpu limit!
             <% } else if (req.query.err == "MAXRAMEXCEETED") { %>
               You have reached the RAM limit!
             <% } else if (req.query.err == "MAXDISKEXCEETED") { %>
               You have reached the disk limit!
             <% } else if (req.query.err == "MAXSERVERSEXCEETED") { %>
               You have reached the servers limit!
             <% } %>
           </div>
         <% } else if (req.query.err == "none") { %>
          <div style="border-radius: 15px; background-color: #00d415; color: white; height: 50px; text-align: center; font-size: large;" class="alert">
            <span class="closebtn" style="height: 50px; text-align: center; font-size: large;" onclick="this.parentElement.style.display='none';">&times;</span>
             Success!
           </div>
         <% } %>
       <% } %>
      <div id="container" class="mt-4 px-[var(--margin-x)] grid grid-cols-1 lg:grid-cols-4 gap-4">
        <div class="flex flex-col bg-zinc-800 rounded-xl w-full">
          <div class="p-2 flex-wrap">
            <div class="rounded-xl bg-zinc-800/40 px-2.5 py-2">
              <% if (settings.resources.type == "GB") { %>
                <form class="forms-sample" action="/buyram">
                <div class="form-group">
                  <label style="font-weight: bold;">RAM:</label><BR>
                  <select id="ramAmount" class="form-control class=flex relative bg-zinc-700 mt-3 btn rounded-xl w-full hover:bg-zinc-700/40 hover:mx-1">
                    <option value=1><%= settings.api.client.coins.store.ram.per / 1024 %> GB(s) - <%= settings.api.client.coins.store.ram.cost %> coins</option>
                    <option value=2><%= settings.api.client.coins.store.ram.per * 2 / 1024 %> GB(s) - <%= settings.api.client.coins.store.ram.cost * 2 %> coins</option>
                    <option value=3><%= settings.api.client.coins.store.ram.per * 3 / 1024 %> GB(s) - <%= settings.api.client.coins.store.ram.cost * 3 %> coins</option>
                    <option value=4><%= settings.api.client.coins.store.ram.per * 4 / 1024 %> GB(s) - <%= settings.api.client.coins.store.ram.cost * 4 %> coins</option>
                  </select>
                </div><br>
                <a class="button" href="javascript: buyRAM()" onclick="this.classList.toggle('button--loading')"><span class="class=flex relative bg-zinc-700 mt-3 btn rounded-xl w-full hover:bg-zinc-700/40 hover:mx-1">Purchase</span></a><br><br>
              </form>
              <% } else { %>
                <form class="forms-sample" action="/buyram">
                  <div class="form-group">
                    <label style="font-weight: bold;">RAM:</label><BR>
                    <select id="ramAmount" class="form-control class=flex relative bg-zinc-700 mt-3 btn rounded-xl w-full hover:bg-zinc-700/40 hover:mx-1">
                      <option value=1><%= settings.api.client.coins.store.ram.per %> MB(s) - <%= settings.api.client.coins.store.ram.cost %> coins</option>
                      <option value=2><%= settings.api.client.coins.store.ram.per * 2 %> MB(s) - <%= settings.api.client.coins.store.ram.cost * 2 %> coins</option>
                      <option value=3><%= settings.api.client.coins.store.ram.per * 3 %> MB(s) - <%= settings.api.client.coins.store.ram.cost * 3 %> coins</option>
                      <option value=4><%= settings.api.client.coins.store.ram.per * 4 %> MB(s) - <%= settings.api.client.coins.store.ram.cost * 4 %> coins</option>
                    </select>
                  </div><br>
                  <a class="button" href="javascript: buyRAM()" onclick="this.classList.toggle('button--loading')"><span class="class=flex relative bg-zinc-700 mt-3 btn rounded-xl w-full hover:bg-zinc-700/40 hover:mx-1">Purchase</span></a><br><br>
                </form>
                <% } %>
          </div>
        </div>
        <div class="flex flex-col bg-zinc-800 rounded-xl w-full">
          <div class="p-2 flex-wrap">
            <div class="rounded-xl bg-zinc-800/40 px-2.5 py-2">
              <% if (settings.resources.type == "GB") { %>
                <form class="forms-sample" action="/buycpu">
                <div class="form-group">
                  <label style="font-weight: bold;">CPU:</label><BR>
                  <select id="cpuAmount" class="form-control class=flex relative bg-zinc-700 mt-3 btn rounded-xl w-full hover:bg-zinc-700/40 hover:mx-1">
                    <option value=1><%= settings.api.client.coins.store.cpu.per / 100 %> Core(s) - <%= settings.api.client.coins.store.cpu.cost %> Coins</option>
                    <option value=2><%= settings.api.client.coins.store.cpu.per * 2 / 100 %> Core(s) - <%= settings.api.client.coins.store.cpu.cost * 2 %> Coins</option>
                    <option value=3><%= settings.api.client.coins.store.cpu.per * 3 / 100 %> Core(s) - <%= settings.api.client.coins.store.cpu.cost * 3 %> Coins</option>
                    <option value=4><%= settings.api.client.coins.store.cpu.per * 4 / 100 %> Core(s) - <%= settings.api.client.coins.store.cpu.cost * 4 %> Coins</option>
                  </select>
                </div><br>
                <a class="button" href="javascript: buyCPU()" onclick="this.classList.toggle('button--loading')"><span class="class=flex relative bg-zinc-700 mt-3 btn rounded-xl w-full hover:bg-zinc-700/40 hover:mx-1">Purchase</span></a><br><br>
              </form>
              <% } else { %>
                <form class="forms-sample" action="/buycpu">
                  <div class="form-group">
                    <label style="font-weight: bold;">CPU:</label><BR>
                    <select id="cpuAmount" class="form-control class=flex relative bg-zinc-700 mt-3 btn rounded-xl w-full hover:bg-zinc-700/40 hover:mx-1">
                      <option value=1><%= settings.api.client.coins.store.cpu.per %>%  - <%= settings.api.client.coins.store.cpu.cost %> Coins</option>
                      <option value=2><%= settings.api.client.coins.store.cpu.per * 2 %>%  - <%= settings.api.client.coins.store.cpu.cost * 2 %> Coins</option>
                      <option value=3><%= settings.api.client.coins.store.cpu.per * 3 %>% - <%= settings.api.client.coins.store.cpu.cost * 3 %> Coins</option>
                      <option value=4><%= settings.api.client.coins.store.cpu.per * 4 %>% - <%= settings.api.client.coins.store.cpu.cost * 4 %> Coins</option>
                    </select>
                  </div><br>
                  <a class="button" href="javascript: buyCPU()" onclick="this.classList.toggle('button--loading')"><span class="class=flex relative bg-zinc-700 mt-3 btn rounded-xl w-full hover:bg-zinc-700/40 hover:mx-1">Purchase</span></a><br><br>
                </form>
                <% } %>
            </div>
        </div>
        <div class="flex flex-col bg-zinc-800 rounded-xl w-full">
          <div class="p-2 flex-wrap">
            <div class="rounded-xl bg-zinc-800/40 px-2.5 py-2">
              <% if (settings.resources.type == "GB") { %>
                <form class="forms-sample" action="/buydisk">
                <div class="form-group">
                  <label style="font-weight: bold;">Disk:</label><BR>
                  <select id="diskAmount" class="form-control class=flex relative bg-zinc-700 mt-3 btn rounded-xl w-full hover:bg-zinc-700/40 hover:mx-1">
                    <option value=1><%= settings.api.client.coins.store.disk.per / 1024 %> GB(s) - <%= settings.api.client.coins.store.disk.cost %> coins</option>
                    <option value=2><%= settings.api.client.coins.store.disk.per * 2 / 1024 %> GB(s) - <%= settings.api.client.coins.store.disk.cost * 2 %> coins</option>
                    <option value=3><%= settings.api.client.coins.store.disk.per * 3 / 1024 %> GB(s) - <%= settings.api.client.coins.store.disk.cost * 3 %> coins</option>
                    <option value=4><%= settings.api.client.coins.store.disk.per * 4 / 1024 %> GB(s) - <%= settings.api.client.coins.store.disk.cost * 4 %> coins</option>
                  </select>
                </div><br>
                <a class="button" href="javascript: buyDISK()" onclick="this.classList.toggle('button--loading')"><span class="class=flex relative bg-zinc-700 mt-3 btn rounded-xl w-full hover:bg-zinc-700/40 hover:mx-1">Purchase</span></a><br><br>
              </form>
              <% } else { %>
                <form class="forms-sample" action="/buydisk">
                  <div class="form-group">
                    <label style="font-weight: bold;">Disk:</label><BR>
                    <select id="diskAmount" class="form-control class=flex relative bg-zinc-700 mt-3 btn rounded-xl w-full hover:bg-zinc-700/40 hover:mx-1">
                      <option value=1><%= settings.api.client.coins.store.disk.per %> MB(s) - <%= settings.api.client.coins.store.disk.cost %> coins</option>
                      <option value=2><%= settings.api.client.coins.store.disk.per * 2 %> MB(s) - <%= settings.api.client.coins.store.disk.cost * 2 %> coins</option>
                      <option value=3><%= settings.api.client.coins.store.disk.per * 3 %> MB(s) - <%= settings.api.client.coins.store.disk.cost * 3 %> coins</option>
                      <option value=4><%= settings.api.client.coins.store.disk.per * 4 %> MB(s) - <%= settings.api.client.coins.store.disk.cost * 4 %> coins</option>
                    </select>
                  </div><br>
                  <a class="button" href="javascript: buyDISK()" onclick="this.classList.toggle('button--loading')"><span class="class=flex relative bg-zinc-700 mt-3 btn rounded-xl w-full hover:bg-zinc-700/40 hover:mx-1">Purchase</span></a><br><br>
                </form>
                <% } %>
            </div>
          </div>
        <div class="flex flex-col bg-zinc-800 rounded-xl w-full">
          <div class="p-2 flex-wrap">
            <div class="rounded-xl bg-zinc-800/40 px-2.5 py-2">
              <form class="forms-sample" action="/buyservers">
                <div class="form-group">
                  <label style="font-weight: bold;">Servers:</label><BR>
                  <select id="serversAmount" class="form-control class=flex relative bg-zinc-700 mt-3 btn rounded-xl w-full hover:bg-zinc-700/40 hover:mx-1">
                    <option value=1><%= settings.api.client.coins.store.servers.per %> Server - <%= settings.api.client.coins.store.servers.cost %> coins</option>
                    <option value=2><%= settings.api.client.coins.store.servers.per * 2 %> Servers - <%= settings.api.client.coins.store.servers.cost * 2 %> coins</option>
                    <option value=3><%= settings.api.client.coins.store.servers.per * 3 %> Servers - <%= settings.api.client.coins.store.servers.cost * 3 %> coins</option>
                    <option value=4><%= settings.api.client.coins.store.servers.per * 4 %> Servers - <%= settings.api.client.coins.store.servers.cost * 4 %> coins</option>
                  </select>
                </div><br>
                <a class="button" style="background-color: #0a0a0a;" href="javascript: buyServers()" onclick="this.classList.toggle('button--loading')"><span class="class=flex relative bg-zinc-700 mt-3 btn rounded-xl w-full hover:bg-zinc-700/40 hover:mx-1">Purchase</span></a><br><br>
              </form>
          </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</main>
<div id="x-teleport-target"></div>
<script>
  window.addEventListener("DOMContentLoaded", () => Alpine.start());
</script>
<script>
  async function buyCPU() {
    let cpu = encodeURIComponent(document.getElementById("cpuAmount").value);
    document.location.href = `/buycpu?amount=${cpu}`;
  };

  async function buyRAM() {
    let ram = encodeURIComponent(document.getElementById("ramAmount").value);
    document.location.href = `/buyram?amount=${ram}`;
  };

  async function buyDisk() {
    let disk = encodeURIComponent(document.getElementById("diskAmount").value);
    document.location.href = `/buydisk?amount=${disk}`;
  };

  async function buyServers() {
    let servers = encodeURIComponent(document.getElementById("serversAmount").value);
    document.location.href = `/buyservers?amount=${servers}`;
  };
</script>
<% } else { %>
  <body class="is-header-blur dark x-bind=">
    <div style="color: white; align-content: center;" id="root" class="min-h-100vh flex grow bg-zinc-900">
      <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
          <div class="content-wrapper d-flex align-items-center text-center error-page">
            <div class="row flex-grow">
              <div class="col-lg-7 mx-auto text-white">
                <div class="row align-items-center d-flex flex-row">
          <div class="col-lg-6 text-lg-right pr-lg-4">
            <h1 style="font-size: 250px; color: white; text-align: center;" class="display-1 mb-0">STORE IS DISABLED</h1>
          </div>
          <div class="col-lg-6 error-page-divider text-lg-left pl-lg-4">
            <h2 style="font-size: 60px; color: white; text-align: center;">ERROR!</h2>
            <br>
            <h3 class="font-weight-light">Uh oh! looks like the Store is disabled.</h3>
          </div>
        <div class="row mt-5">
          <div class="col-12 text-center mt-xl-2">
            <a class="text-white font-weight-medium" href="/dashboard">Back to Dashboard</a>
          </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <% } %>
  <% } else { %>
    <body class="is-header-blur dark x-bind=">
      <div style="color: white; align-content: center;" id="root" class="min-h-100vh flex grow bg-zinc-900">
        <div class="container-scroller">
          <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center text-center error-page">
              <div class="row flex-grow">
                <div class="col-lg-7 mx-auto text-white">
                  <div class="row align-items-center d-flex flex-row">
            <div class="col-lg-6 text-lg-right pr-lg-4">
              <h1 style="font-size: 250px; color: white; text-align: center;" class="display-1 mb-0">COINS ARE DISABLED</h1>
            </div>
            <div class="col-lg-6 error-page-divider text-lg-left pl-lg-4">
              <h2 style="font-size: 60px; color: white; text-align: center;">ERROR!</h2>
              <br>
              <h3 class="font-weight-light">Uh oh! looks like Coins are disabled.</h3>
            </div>
          <div class="row mt-5">
            <div class="col-12 text-center mt-xl-2">
              <a class="text-white font-weight-medium" href="/dashboard">Back to Dashboard</a>
            </div>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <% } %>

<%- include('./components/footer') %>

</body>

</html>