<%
let ram = 0;
let disk = 0;
let cpu = 0;
let servers = pterodactyl.relationships.servers.data.length;
for (let i = 0, len = pterodactyl.relationships.servers.data.length; i < len; i++) {
    ram = ram + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.memory == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.memory : 0);
    disk = disk + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.disk == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.disk : 0);
    cpu = cpu + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.cpu == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.cpu : 0);
}
%>
<% if (settings.resources.type == "GB") { %>
  <div class="mt-4 px-[var(--margin-x)] transition-all duration-[.25s] sm:mt-5">
  <div style="font-size: x-large;" class="text-white grid grid-cols-2 lg:grid-cols-4 gap-3">
    <div class="rounded-xl bg-zinc-800/40 px-2.5 py-2">
      <div class="flex items-center justify-between space-x-1">
        <h1>RAM</h1>
        <p>
          <span style="font-size: large;" class="text-xs"><%= ram/1024 %> / <%= packages.ram/1024 + extraresources.ram/1024 %> GB(s)</span>
        </p>
        <i class="fa-solid fa-cpu"></i>
      </div>
    </div>
    <div class="rounded-xl bg-zinc-800/40 px-2.5 py-2">
      <div class="flex items-center justify-between space-x-1">
        <h1>Disk</h1>
        <p>
          <span style="font-size: large;" class="text-xs"><%= disk/1024 %> / <%= packages.disk/1024 + extraresources.disk/1024 %> GB(s)</span>
        </p>
      </div>
    </div>
    <div class="rounded-xl bg-zinc-800/40 px-2.5 py-2">
      <div class="flex items-center justify-between space-x-1">
      <h1>CPU</h1>
        <p>
          <span style="font-size: large;" class="text-xs"><%= cpu/100 %> / <%= packages.cpu/100 + extraresources.cpu/100 %> Core(s)</span>
        </p>
      </div>
    </div>
    <div class="rounded-xl bg-zinc-800/40 px-2.5 py-2">
      <div class="flex items-center justify-between space-x-1">
        <h1>Servers</h1>
        <p>
          <span style="font-size: large;" class="text-xs"><%= servers %> / <%= packages.servers + extraresources.servers %></span>
        </p>
      </div>
    </div>
  </div>
</div>
<% } else { %>
  <div class="mt-4 px-[var(--margin-x)] transition-all duration-[.25s] sm:mt-5">
    <div style="font-size: medium;" class="text-white grid grid-cols-2 lg:grid-cols-4 gap-3">
      <div class="rounded-xl bg-zinc-800/40 px-2.5 py-2">
        <div class="flex items-center justify-between space-x-1">
          <p>
            <span style="font-size: large;" class="text-xs"><%= ram %> / <%= packages.ram + extraresources.ram %> MB(s)</span>
          </p>
          <i class="fa-solid fa-cpu"></i>
        </div>
      </div>
      <div class="rounded-xl bg-zinc-800/40 px-2.5 py-2">
        <div class="flex items-center justify-between space-x-1">
          <h1>Disk</h1>
          <p>
            <span style="font-size: large;" class="text-xs"><%= disk %> / <%= packages.disk + extraresources.disk %> MB(s)</span>
          </p>
        </div>
      </div>
      <div class="rounded-xl bg-zinc-800/40 px-2.5 py-2">
        <div class="flex items-center justify-between space-x-1">
        <h1>CPU</h1>
          <p>
            <span style="font-size: large;" class="text-xs"><%= cpu %> / <%= packages.cpu + extraresources.cpu %>%</span>
          </p>
        </div>
      </div>
      <div class="rounded-xl bg-zinc-800/40 px-2.5 py-2">
        <div class="flex items-center justify-between space-x-1">
          <h1>Servers</h1>
          <p>
            <span style="font-size: large;" lass="text-xs"><%= servers %> / <%= packages.servers + extraresources.servers %></span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <% } %>